[2012-06-28 03:38] rwinch opened #1 "Please add to a maven repository"
It would be nice if this project were added to a maven repository

[2012-07-04 09:28] #1 closed, assigned to ultraq

[2012-07-11 10:42] ultraq opened #2 "NullPointerException when decorator/content pages have no <body> section"
When the dialect is used for just decorating the `<head>` section, `NullPointerException` will result because it expects a `<body>` section too (dialect was designed to be a full page decorator after all).  Probably just needs a null check before processing `<body>`.

Might also want to test if the dialect can work on pages with a `<body>` only, or other combinations between the content and decora

[2012-07-13 06:11] #2 closed, assigned to ultraq

[2012-07-20 21:03] pfeigl opened #3 "th:with defined in layout decorator not available"
Normally I would expect the layout decorator file to be more or less the "parent".
Therefor it would be handy, if variables defined with th:with would be available in the actual content fragments.

The same also counts for th:inline="text", which does actually not trigger anything in the fragments, when set in the body of the decorator layout file.

I have for example one variable  th:with="baseUr

[2012-07-20 21:04] pfeigl opened #4 "Fragments are forced to have an <html> tag"
This requirement has been removed in Thymeleaf 2.0.10 and thus it would be nice not to have it required in the content fragments. In the end it's boilerplate within each and every template, which is not required in most cases

[2012-07-21 01:09] ultraq opened #5 "New layout:include attribute"
Create a new attribute, similar to `th:include` but allows for the passing of entire fragment elements to the included page.  This could be useful for situations like the one I'm finding myself in where I have some common HTML structure that I'm using across pages (a CSS-styled modal panel) but whose inner contents change drastically based on the page or use case including it.  My current pages ar

[2012-07-22 08:25] #5 closed, assigned to ultraq

[2012-07-23 10:31] #3 closed, assigned to ultraq

[2012-07-26 09:00] #4 closed, assigned to ultraq

[2012-08-14 13:47] acr92 opened #6 "Layouts still require a root element"
in Java/nz/net/ultraq/web/thymeleaf/DecoratorProcessor.java you still have the current code:

[code]

Which seems to make it required to have a root element still. I followed your tutorial on the front page, but when I did the content2.html part, it just wouldn't work. (Running Thymeleaf 2.0.11, so thats not a issue).

I downloaded the code (yay! Open source!) and commented out those three lines,

[2012-08-15 12:18] #6 closed, assigned to ultraq

[2012-09-26 10:24] sunil0791 opened #7 "org.thymeleaf.dom.Text cannot be cast to org.thymeleaf.dom.Element"
Hi Ultraz,

I downloaded thymeleaf example with spring from https://github.com/thymeleaf/thymeleafexamples-stsm and made the following changes to see if layout dialect works.
changed the method in SeedStarterMngController.java to
 @RequestMapping({"/","/seedstartermng"})
    public String showSeedstarters(final SeedStarter seedStarter) {
        seedStarter.setDatePlanted(Calendar.getInstance().ge

[2012-09-29 01:39] #7 closed, assigned to ultraq

[2012-12-09 10:00] ultraq opened #8 "Emit warning if layout:fragment in <title>"
I keep seeing example code written by others that has the `layout:fragment` attribute in the `<title>` element, which is redundant since the dialect already overrides the layout page `<title>` with that found in the content page.

I should double-check if my documentation includes any examples like this, then maybe update the code to put a warning in the logs if this occurs, so that others can kno

[2012-12-09 10:03] ultraq opened #9 "Extending <title> text instead of overriding it"
Someone in the Thymeleaf forums brought up the possibility of having the content pages extend the page title of the layout, instead of overriding it.  That discussion can be found here: http://forum.thymeleaf.org/extending-templates-and-using-variables-td4025358.html

[2012-12-14 12:23] marcosabel opened #10 "Conditional comments outside <html> tag are not processed"
We run into trouble when trying to implement this technique:
http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Basically , in order to make that trick work, we need to use contional comments outside <html> tag.  The top of our layouts looks like this:

[code]

Currently, when  templates are decorated, the conditional comments outside the <html> tag are left out of the

[2012-12-14 21:31] #8 closed, assigned to ultraq

[2012-12-24 01:08] ultraq opened #11 "Add a Spring configuration example to the readme"
I think I should add a Spring configuration example to the readme, both for adding this dialect and for configuring it now that there will be a configuration option in the next release.  Also, I see people combining the Thymeleaf Spring examples with this dialect and getting 'error resolving template' exceptions, so having a Spring example (or maybe even changing existing examples to be closer to

[2012-12-30 08:19] #9 closed, assigned to ultraq

[2012-12-30 08:20] #11 closed, assigned to ultraq

[2012-12-30 09:34] #10 closed, assigned to ultraq

[2013-02-05 04:36] jhcao23 opened #12 "Pass object with include"
[Enhancement]
The layout:include feature is pretty like JSF facelet way!
In real JSF, we can pass String or objects or even collection to the facelet,
can this layout:include pass object(s) to the included fragment e.g. modal div?

[2013-02-07 06:06] #12 closed, assigned to nobody

[2013-02-26 07:02] jhcao23 opened #13 "layout:include is not working"
I tried to use layout:include modal into my page, however, nothing is included.
do you have example to demonstrate how it works?
I tried this on the welcome page in https://github.com/jhcao23/spring-petclinic (this is updated version thymeleaf-petclinic merged with latest version spring-petclinic) - you can take a quick look at the src code there
https://github.com/jhcao23/spring-petclinic/blob/ma

[2013-02-27 09:18] #13 closed, assigned to ultraq

[2013-02-27 09:19] ultraq opened #14 "Create demo/showcase project"
It might be nice to create a demo/showcase project, showing how all the bits and pieces of the layout dialect work together, and to give developers a working starting point they can refer to.

[2013-02-27 09:24] ultraq opened #15 "Passing th:field items through layout:include"
In [a recent issue](https://github.com/ultraq/thymeleaf-layout-dialect/issues/13), someone was using `layout:include` to pass `th:field` items to create reusable form components.  I've never tested doing this with the include processor, so I'll just give it a try to find out if it's actually possible or if there's something I need to do to make it possible.

[2013-03-11 11:16] mfirry opened #16 "Make it work with thymeleaf-extras-eclipse-plugin"
As explained here https://github.com/thymeleaf/thymeleaf-extras-eclipse-plugin

[2013-03-14 22:12] #16 closed, assigned to nobody

[2013-03-16 00:09] ultraq opened #17 "Duplicate fragment names, but should only be one after conditional processing completed"
In this forum post (http://forum.thymeleaf.org/combining-sec-authorize-and-layout-fragment-td4025753.html) there are 2 fragments with the same name.  Given the way the layout dialect works (a single top-down pass through the template to collect fragments and store them by their name for later use), the second fragment will always be used, even though the surrounding conditional statement should en

[2013-04-13 23:50] #14 closed, assigned to nobody

[2013-04-14 00:43] #15 closed, assigned to ultraq

[2013-04-27 12:47] ultraq opened #18 "Be able to view pages in offline mode"
This dialect breaks the offline natural templating of Thymeleaf pretty hard, so I'd like to make decorator pages show when not running on an app server too.  First I'll see if I can contribute to Thymol to make it a part of that library.

EDIT: OK, so 'pretty hard' is an inaccurate description, it should be: the layout dialect kind of encourages the creation of incomplete fragments which don't loo

[2013-05-15 09:04] jirubio opened #19 "Support xml templates"
When using the layout dialect in XML mode I get this error:

[code]

It will be nice that the layout dialect works with all modes in a generic way, and don't have restrictions ont the type of nodes.

[2013-05-15 09:23] ultraq opened #20 "Add unit tests"
Something I've always wanted to do, but never really knew how to implement without the web environment.  This should be possible now that the Thymeleaf Testing framework has come out, making my manual 'test checklist' very obsolete!

[2013-05-23 06:09] dantesun opened #21 "Need support "layout:substitueby"."
How can ThymeLeaf Layout Dialect supports the function like "th:substitueby"?

[2013-05-24 08:55] #20 closed, assigned to ultraq

[2013-05-24 09:25] #17 closed, assigned to ultraq

[2013-05-26 01:30] #21 closed, assigned to ultraq

[2013-06-01 06:30] #19 closed, assigned to ultraq

[2013-06-06 08:18] dantesun opened #22 "layout:decorator doesn't preserve the class attributes when layout:fragment is retrieved from layout:include"
layout.html

[code]

content.html using the decorator

[code]

userTable.html

[code]

And in the result, &lt;table&gt; tag's CSS classes are all gone.

[2013-06-24 10:08] krat0s opened #23 "Problems with template mode LEGACYHTML5"
When changing the template mode from HTML5 to LEGACYHTML5 I keep getting the following exception:

[code]

In my content page, the `layout:decorator` attribute _does_ appear in the root element and the page is processed correctly as long as the template mode is set to HTML5. I have tried to debug the source code and it seems that

[code]

is always _true_ as the parent is never the document but ra

[2013-07-04 14:54] Nr9 opened #24 "New versions are not available on the Maven Repository"
See: http://mvnrepository.com/artifact/nz.net.ultraq.web.thymeleaf/thymeleaf-layout-dialect

[2013-07-04 22:07] #24 closed, assigned to nobody

[2013-07-31 10:04] #23 closed, assigned to ultraq

[2013-08-15 19:50] wbiller opened #25 "NPE if title of content is not set"
In some cases it's not mandatory to have a title on a content site (e.g. index page).
If a title-pattern is defined an NPE is thrown, if the contents page title is not set.

[2013-08-18 07:01] #25 closed, assigned to nobody

[2013-09-01 01:28] ultraq opened #26 "Support for Thymeleaf 2.1"
Thymeleaf 2.1 milestones are out, so I should create a version of the layout dialect that can work with it.

I tried to use it just now and it seems I'm using some methods that were removed, so hopefully that's all I need to fix up.

[2013-10-08 06:17] #22 closed, assigned to ultraq

[2013-10-09 20:45] ultraq opened #27 "Migrate from JUnit to Spock for unit tests"
I was introduced to Spock at SpringOne 2GX and really liked what I saw :)  Let's see if I can migrate my JUnit tests to Spock ones for this project, given that most of the JUnit test code is boilerplate to redirect to the Thymeleaf testing library.

[2013-10-24 12:15] adnansorg opened #28 "laytout:title-pattern doesn't include dynamic page titles"
In my content page `content.html` with the layout set to `layout.html` I have a title such as:

[code]

In the `layout.html`, the title pattern is used as following.

[code]

When using a normal static`<title>User Details</title>` without `th:text` the decorator correctly applies the title pattern as `<title>Website Name - User Details</title>` while the title with the dynamic `th:text` tag decora

[2013-10-26 02:04] #28 closed, assigned to ultraq

[2013-11-04 19:00] #26 closed, assigned to ultraq

[2013-11-17 09:17] #18 closed, assigned to ultraq

[2013-12-08 06:28] chotchki opened #29 "Allow fragments without content to be removed automatically"
I'm using fragments to add page specific javascript to the bottom of my pages. However not every page provides a javascript resulting in a non replaced fragment. Can can option be added to support this?

[2013-12-11 20:46] ultraq opened #30 "Issue w/ Thymeleaf 2.1.2+ and deep decorator hierarchies"
As per the forum thread here: http://forum.thymeleaf.org/Issues-with-latest-Snapshot-Dec-09-td4027268.html

Not that the Layout dialect was ever designed for hierarchies beyond a basic parent/child one, but the fact it used to work before means others might have used it for this purpose, so I should look into it.

[2013-12-19 00:44] JavadocMD opened #31 "Title Patterns that *aren't* dynamic include extra symbols"
In 1.2, if I use a title pattern _without_ any th:text anywhere, the resulting rendered title turns out to be "[[|My Text|]]". Seems like the easy fix would be to only wrap the title pattern with [[| |]] if you're going to add the inline processor ~TitlePatternProcessor:97.

My simple work around is to add a th:text to the layout template's title that simply contains the text that the tag already

[2013-12-19 20:16] #31 closed, assigned to ultraq

[2013-12-20 21:37] #30 closed, assigned to ultraq

[2014-01-04 20:33] igo opened #32 "Passing variables to decorator"
Please allow passing variables to parent decorator with `th:with` like this:

[code]

[2014-01-09 09:04] #32 closed, assigned to ultraq

[2014-01-09 16:06] bvklingeren opened #33 "A title-pattern expression containing a pipe character is not resolved correctly"
I have a title pattern ($CONTENT_TITLE | $DECORATOR_TITLE) which is not resolved correctly.
For example:

[code]

defined in the decorator template with a content template:

[code]

resolves to a page title:

[code]

and when I change the | character to a - character, it works fine.

[2014-01-15 12:32] jmiguelsamper opened #34 "title-pattern and deep hierarchies"
We have a deep hierarchy of layout decorators, as follows:

_layout-base.html_

[code]

_layout-customer.html_

[code]

_productList.html_

[code]

In this situation the title of the page is not rendered properly, it shows _Page title_ instead of the value corresponding to the _productList_ key.

It works perfectly when the final page has only one ancestor.

We have noticed that using a processor

[2014-01-18 14:47] #34 closed, assigned to ultraq

[2014-01-25 20:14] #33 closed, assigned to ultraq

[2014-02-15 21:18] ultraq opened #36 "Messages in the layout don't resolve to the layout's properties file"
From the forums: http://forum.thymeleaf.org/Messages-and-ResourceBundles-td3379900.html

There's a mismatch when using properties files with layout templates in that message expressions in the layout template don't resolve to properties that, at first glance, are expected to come out of the layout template's properties file.  (This isn't a surprise though because the layout dialect works by bringi

[2014-03-07 15:13] moravcik opened #37 "Nested layout:replace causes a problem"
I have a thymeleaf template with nested layout:fragments:

[code]

Processed template output is following:

[code]

Please note the lines:
contract list 1
remove from 3 --> there should be **remove from 1** instead

Problem is not present when I use the layout:include instead of layout:replace

[code]

or when I define the nested fragment separately:

[code]

Full example code here:
https://gist.g

[2014-03-18 02:51] inamiy opened #38 "How can I check whether html is used as decorator or not?"
Hi. I'm in a situation where:
- both `base.html` (decorator) and `custom.html` (content) should be visible from browser (without thymeleaf engine)
- HTML should be as beautiful as possible

My current HTMLs are:
- base.html

[code]
- custom.html

[code]

I saw similar question in #29, but wrapping CSS & JavaScript with `<div>` is quite ugly...

I want something like `th:unless="isTemplate"` or `la

[2014-03-19 01:55] #38 closed, assigned to nobody

[2014-03-24 13:02] adobarro opened #39 "Problems replacing a fragment with id"
I have this thymeleaf template:

[test-layout.html]

[code]

 and it uses this nested fragment defined in other file:

[test-content.html]

[code]

The processed output is following:

[code]

The main html tag contains id="test-content-id" when it shouldn't. If we change the id by "test-content-id-2" in the fragment, this id will be the one that appears in the html tag.

A possible workaround is t

[2014-03-25 09:17] #37 closed, assigned to ultraq

[2014-03-25 09:18] #29 closed, assigned to nobody

[2014-03-27 07:28] #39 closed, assigned to ultraq

[2014-04-28 07:19] ultraq opened #43 "Mention data-* attributes in readme"
As per @simono's suggestion in his PR: https://github.com/ultraq/thymeleaf-layout-dialect/pull/41

[2014-05-02 10:37] #27 closed, assigned to ultraq

[2014-05-07 09:21] #43 closed, assigned to nobody

[2014-05-08 09:29] hurelhuyag opened #44 "Is there any replacement option for Apache Tiles ViewPreparer?"

[2014-05-12 06:12] #44 closed, assigned to nobody

[2014-05-26 05:45] cirothedesertwind opened #45 "Empty title tag in content pages produces NullPointerException"
Using the first example provided in the documentation (layout.html and content1.html), leaving the title tag empty in content1.html results in a NullPointerException when rendering the template.

The error was thrown at HtmlHeadDecorator.java - Line 113, and looks to be the result of line 101 getting the first child of the title tag, which in this case is empty, thereby returning null, and then Li

[2014-05-26 07:37] #45 closed, assigned to ultraq

[2014-06-07 03:08] ultraq opened #47 "Dynamic test creation"
I'm getting a bit annoyed with having to list each and every `thtest` file in the JUnit test classes.  I should look at how to create a dynamic JUnit test suite for every `thtest` file in the test directory.

If this works, then maybe it could be a thymeleaf-testing add-on, or the resolution to this issue in that project: https://github.com/thymeleaf/thymeleaf/issues/1092

[2014-06-09 10:46] #47 closed, assigned to ultraq

[2014-06-10 14:10] claudineij opened #48 "Fragments of the same html type being duplicated"
Two fragments  for html tag select with different names are being shown when I call the first one.
Here is an example:
https://gist.github.com/claudineij/95c609e0b12d29aa4a41

The new.html line 12 code has to show only one select but is showing two no matter the name I give to fragment.

[2014-06-26 05:18] stevensheehy opened #49 "Support specifying decorated fragments inside layout template"
One of the nice features of tiles 2 is that you can apply a layout to one or more decorated views inside a centralized location, the tiles-defs.xml. This allows the user to avoid from having to edit each decorated fragment in order to explicitly define which decorator it should use. As a result, the decorator and the decorated become decoupled and one can easily swap out the layout used without ed

[2014-06-27 10:14] chrylis opened #50 "Excessive newlines in output"
The layout processor appears to include all of the newlines present in both source files, even as it eliminates the tags that are made redundant by whatever operations. This leads to rendered output with blank lines scattered at random, making reading the output rather difficult. Trivial issue, but it would be nice if lines made blank by the layout templating were removed entirely.

[2014-07-25 07:22] dickerpulli opened #51 "title tag processing with included head content"
I have the following use case:

layout/layout.html

[code]

layout/head.html

[code]

content.html

[code]

With this code I get a HTML page that has a tag `<title>Title</title>` instead of expected `<title>This is my content</title>`.

It seams that the title replacement does not work with included or replaced layout fragments.

[2014-08-04 08:26] #48 closed, assigned to ultraq

[2014-08-04 09:15] #50 closed, assigned to ultraq

[2014-08-28 14:25] dchartfield opened #52 "Add to end of <head> tag"
For my use case, I need to add a script tag to the end of the the head tag for every page using my layout.html decorator. Putting this at the end of the head tag in the decorator means that the content from the content page would be after it - which it needs to be before it for my use case. I could add my script tag to the end of the head tag  in each individual content page, but I would prefer to

[2014-10-02 11:24] dharezlak opened #53 "Combine several fragments in a layout hierarchy"
For a layout page with a sample fragment definition (e.g. `<section layout:fragment="javascripts"></section>`) I would like to attach different javascript resources in subsequent decorator pages so that the final rendered page holds a combined set of script elements. In TWIG this possible by using the `parent()` method (http://twig.sensiolabs.org/doc/functions/parent.html). Is this possible with t

[2014-10-04 11:04] #52 closed, assigned to ultraq

[2014-10-09 15:17] pgmahoney opened #54 "ArrayIndexOutOfBoundsException with 1.2.6"
I have just updated to 1.2.6 to get the head grouping feature, but have come across an error:

java.lang.ArrayIndexOutOfBoundsException: 19
    java.util.Arrays$ArrayList.get(Arrays.java:2866)
    nz.net.ultraq.thymeleaf.decorator.HtmlHeadDecorator.decorate(HtmlHeadDecorator.java:106)
    nz.net.ultraq.thymeleaf.decorator.HtmlDocumentDecorator.decorate(HtmlDocumentDecorator.java:45)
    nz.net.ult

[2014-10-17 04:34] #54 closed, assigned to ultraq

[2014-10-17 23:29] #51 closed, assigned to ultraq

[2014-10-20 09:05] danielplappert opened #56 "Same fragments in a page combined with th:if"
Hi,

I came across a problem using the same fragment twice in a page. Imagine this root template (root.html):

[code]

When I define the fragment "content" twice in a page (combined with th:if), the expected result should be, that the content fragment will be replaced by either nothing or Hello World:

[code]

This will result in an empty div block, not a div block with "Hello World" in it, becaus

[2014-10-21 18:06] #56 closed, assigned to nobody

[2014-10-25 22:23] oniekrenz opened #57 "Passing HTML into nested fragments doesn't work"
I wanted to use the following structure but it doesn't work.

test.html

[code]

template.html

[code]

It seems to me that the nested fragment reference 'a-content' can't be interpreted as such. Instead it it interpreted as setting a 'a-content' fragment parameter for fragment b. This is caused by the ambiguity of the 'layout:fragment' attribute which serves for both purposes.
Instead another 'la

[2014-11-03 17:18] raspacorp opened #58 "ViewController returning fragment don't work when using layout dialect"
I found that when using thymeleaf-layout-dialect my view controllers are not able to return fragments any more, the fragments work fine when referred inside the layout:

`<div th:replace="pinboardPostsListView::content"></div>`

But not when having a view controller that returns that fragment:

`@Override
public void addViewControllers(ViewControllerRegistry registry) {
registry.addViewController(

[2014-11-04 10:36] pgmahoney opened #59 "Script tag order changing"
I have a page where there are scripts which are dynamically added to the page:
[code]

I would like the position of these scripts to be preserved in the head (when scripts are grouped together), but I can understand why they may not be. So, if they can't be is there a way to switch off the  grouping feature? The only solution I currently have is to revert to an older version of thymelead-layout-di

[2014-11-05 22:05] #58 closed, assigned to nobody

[2014-11-14 06:42] #57 closed, assigned to nobody

[2014-11-26 01:07] demwis opened #61 "More control for head tag"
Hello. Do you plan to add more control for the head tag? I mean, that it will be nice to have some marker-placeholder in a decorator, so that a decorated page head content can be placed in exact place of it's decorator. Now as I see, a decorated page's content is placed only to the end of merged head tag.
Now I have faced the issue with applying google analytics scripts, which should be placed exa

[2015-01-28 20:21] ronnyek opened #62 "Initial loads after rebuild render incorrectly"
For first few attempts to render a page that utlizies layout dialect after a rebuild... It looks like it just renders the layout and the content together as a whole. After a while, it starts kicking out pages rendering as it should.

Is this a sign that I am doing something wrong? Or did I just catch it before the layout dialect engine started rendering appropriately?

-- update
Seems like after r

[2015-02-22 11:06] kalgon commented on #32
Is it possible to declare the variables in the decorator and giving them default values?

*layout*

    <html layout:attributes="hello = 'Hello World!', showMenu = true">

*page*

    <html layout:decorator="layout (showMenu = false)">

or

    <html layout:decorator="layout" th:with="showMenu = false">

[2015-02-23 06:26] ultraq commented on #32
Been a while since I tried to see how merged attribute behaviour would work, but you should be able to declare values in the decorator with plain old `th:with`, then set them again in your pages.  The one with the nearest scope should win out.

[2015-02-23 07:05] kalgon commented on #32
I tried that and the value declared in the decorator always wins. If I don't declare it, the one in the decorated page is used. So it's not possible to have default values in the decorator. Another problem I have with not being able to declare them in the decorator is that you have to search for them in the HTML code before you can use them. If they were declared at the top of the decorator, it wo

[2015-03-01 20:56] geemang2000 opened #63 "fragment attribute rules"
What are the rules for an implementing page with (layout:decorator="layout") for common div attributes e.g. class?  I'd like the implementing page class attribute to overwrite. Is this possible?

I have a layout with the following:
[code]
And the implementing page with:
[code]
The result being:
[code]

The ng-click hangs around as I want, but the class gets overwritten by the layout (not what I wa

[2015-03-02 09:06] ultraq commented on #63
There aren't really any rules surrounding how this works as there haven't been the need to establish any or it hasn't been asked.  Right now, the code that does this copying of attributes does the following ([code here](https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Source/nz/net/ultraq/thymeleaf/LayoutUtilities.java#L124-L158)):
 - don't copy `layout:fragment` attributes from cont

[2015-03-04 18:55] chrylis opened #64 "data-layout-include doesn't work properly in title"
I'm trying to put together a shell page that will render "modal" dialogs as full standalone pages. As part of this, I want the modal's title text (in some normal body element) to be put in the page title.

In ordinary Thymeleaf, I can specify

    <title data-th-include="widgets/form/login :: widget-title">Modal</title>

and this replaces "Modal" with the contents of `data-th-fragment="widget-titl

[2015-03-24 20:41] datpham23 opened #65 "Question: Is there a way to reference a layout in the classpath?"
Is it possible to use a layout from another jar via the classpath?

     <html layout:decorator="classpath:SomeLayout">

[2015-03-25 07:26] ultraq commented on #65
It *should* be possible to load files via the classpath as I use the same lookup mechanism as other things in Thymeleaf, like `th:include`/`th:replace`.  To make it work, you should have a `ClassLoaderTemplateResolver` as one of your configured template resolvers.  Most of the examples given only show configuring 1 template resolver, usually a `ServletContextTemplateResolver` as that's most releva

[2015-03-25 07:46] datpham23 commented on #65
Thats awesome.
So would this be the right syntax to load something from the classpath?
     <html layout:decorator="classpath:SomeLayout">

[2015-03-25 08:00] ultraq commented on #65
The syntax is the same as in all the Thymeleaf examples, so `<html layout:decorator="SomeLayout">` will still work for a layout called `SomeLayout`.  The difference is in the `ClassLoaderTemplateResolver` and how you set that up, eg: in a Spring config file

[code]

So the above template resolver, plus what's in `decorator:layout` will load a file, called SomeLayout.html inside the org.example.lay

[2015-03-25 08:10] datpham23 commented on #65
Cool, thanks for the help!

[2015-04-14 11:51] chrylis opened #66 "Expression for title is used literally and not evaluated"
When I have the following tag in my file:

[code]

The expression is used literally by the layout decorator instead of being evaluated, leaving a title of

[code]

instead of the correct result. A simple `"${work.title}"`, without the pipe formatting, is also rendered literally. I'm using Thymeleaf 2.1.4 and TLD 1.2.8 with Spring MVC 4.1.6 (Spring Boot 1.2.3).

[2015-04-14 22:03] #65 closed

[2015-04-14 22:11] ultraq opened #67 "Groovy rewrite"
I don't Java much these days, opting instead to write in Groovy because I'm too fond of all the functional and dynamic language goodness I get out of JavaScript and enjoy bringing those things over to my 'Java' projects.  I want to do the same to this one.

First cut will be to rewrite the dialect in Groovy such that it performs the exact same job - no changes in expected behaviour.  Then I can th

[2015-04-14 22:15] ultraq opened #68 "Support for Thymeleaf 3.0"
Thymeleaf 3.0, currently under heavy development, will change the API for dialects.  I'd also like to get the layout dialect ready for Thymeleaf 3.0 to help with the beta cycle I imagine it will go through (I think some will want to test the new Thymeleaf alongside this dialect - I know I will).

---
Thymeleaf 3.0 is now approaching a 3.0 release.  I've been doing a lot to update the layout dialec

[2015-04-15 21:03] darkknightik opened #69 "Bad head merge"
HI, i have tried your dialect and i like it, but i have one problem.
Layout file:
http://pastebin.com/ZCR2jNQT

Content file:
http://pastebin.com/BWDm2eHQ

And resolution html:
http://pastebin.com/dZ7NZu4F

Where is problem?

Configuration of Thymeleaf is here:
http://pastebin.com/847c84Vp

Thanks!

[2015-04-19 23:59] ultraq commented on #69
Hi there, is the problem the duplicating of all the entries?  If so, then this is the expected behaviour: when the `<head>` section is merged, it copies all of the stuff in the content file, into the decorator.  Because you've listed the meta tags, stylesheets, and scripts in both the layout and content files, you end up with doubles.  To fix that, then just mention the meta/stylesheet/script in o

[2015-04-20 17:10] chrylis commented on #66
Does the milestone tag mean that this won't be fixed for the Thymeleaf 2.x series?

[2015-04-21 04:00] ultraq commented on #66
I remember taking a quick look when you first raised the issue and couldn't figure it out then, thinking it was related to some other title-related bugs that I'm saving for the next major version, so I attached it to the next release milestone.

I've just given it some more thought and I _should_ be able to fix this in a patch version... it probably won't be elegant though because the only solutio

[2015-04-21 16:18] chrylis commented on #66
If it's going to have to wait I'll work around, I just wanted to see whether I needed to special-case it in my code.

[2015-04-21 22:23] ultraq commented on #66
I'll aim to get something done and released before the end of this weekend, so if that's a bit far for you then go ahead and work around it for now.

[2015-04-21 22:29] chrylis commented on #66
This weekend is plenty fast enough. I was just not sure whether a fix would need to wait for Thymeleaf 3.

[2015-04-23 09:06] ultraq commented on #66
Started trying to create a test case for this, but when I make something based off what you've posted, it passes.  I must be missing something, so any chance you could show me more of your HTML code, mainly the head/title tags of both decorator and content pages?  This is the test case I made: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Tests/nz/net/ultraq/thymeleaf/tests/decora

[2015-04-23 19:02] stoye opened #70 "Head merge drops conditional comments."
We have a responsive_layount.html template that acts as our base template for everything. We have several templates that get merged into this one that have conditional comments for things like respond.js and other IE8 fixes. When we include these in the responsive_layout file, everything's fine, but if we include them in the other templates (that get merged with responsive_layout), they get blown

[2015-04-23 22:54] ultraq commented on #67
Done! :grinning:

[2015-04-23 22:54] #67 closed

[2015-04-24 05:04] #70 closed

[2015-04-24 05:13] ultraq commented on #70
Hi there @stoye, I've created a [test case](https://github.com/ultraq/thymeleaf-layout-dialect/blob/dev-thymeleaf-2.1/Tests/nz/net/ultraq/thymeleaf/tests/decorator/Decorator-HeadConditionalComments.thtest) and fix for the issue you described, and uploaded a 1.2.9-SNAPSHOT version of the layout dialect to Maven with this fix.  Could you give that version a try, see if it works for you?

[2015-04-24 06:44] ultraq commented on #64
Because of the `title-pattern` processor, I create a totally new `title` element with the merged result, thus removing things like other processors.  I'll try to figure out how I can include other attributes, like other processors, in the final result.

[2015-04-24 07:05] ultraq commented on #64
Actually... @chrylis, are you asking if the title can be fetched, and then included as input to a `title-pattern` processor as well?

[2015-04-24 09:10] ultraq opened #71 "Make the fragment merging process more generic"
With the Groovy rewrite, I've also been able to decompose a lot of common code into more manageable, testable, chunks.  In the process, I've found that the merging process isn't really as good as it could be.

https://github.com/ultraq/thymeleaf-layout-dialect/blob/dev/Source/nz/net/ultraq/thymeleaf/fragments/FragmentMerger.groovy

Currently:
 - copy attributes from target to source
 - copy source

[2015-04-24 09:21] ultraq opened #72 "Allow <title> elements to get processed, before using in decoration"
The `title-pattern` processor relies on a lot of special-casing code paths in the `HtmlHeadDecorator` to work, namely the copying of the state of the `<title>` elements in both content and layout templates, before creating a new `<title>` that approximates the intent of the developer.  However, this special casing is starting to fall apart (see #64 and #66), and the code that developers put inside

[2015-04-24 17:20] chrylis commented on #66
I'll try to get that to you; it may take a bit to simplify.

[2015-04-25 19:35] chrylis commented on #66
`work.html`:

[code]

`layout/gallery-layout.html`:

[code]

Resulting rendered HTML:

[code]

[2015-04-25 19:40] chrylis commented on #66
Same behavior if I attempt to use `data-th-inline="text"` and the bracket notation inside the title tag.

[2015-04-25 19:44] chrylis commented on #66
This is a bug with the `__` interpolation upstream.

[2015-04-25 19:44] #66 closed

[2015-04-25 19:48] chrylis commented on #66
https://github.com/thymeleaf/thymeleaf/issues/366

[2015-04-25 21:29] ultraq commented on #66
Ah, cool.  Thanks for investigating! :smiley:

[2015-04-25 22:49] ultraq commented on #71
Should help with #63

[2015-04-29 10:39] ultraq commented on #72
Done! :)

[2015-04-29 10:39] #72 closed

[2015-04-29 10:41] ultraq commented on #64
Done :)  I've just updated a 1.3.0-SNAPSHOT version of the layout dialect with a fix for this issue.  If you could give it a try, let me know if it's still not working as expected.

[2015-04-29 10:43] #53 closed

[2015-04-29 19:39] chrylis commented on #64
I will try soon. Since I realized I never explained my use case here: I have some dialogs that are logically modals, such as the standard login form. However, I'm a firm believer in (1) not cluttering up HTML with unnecessary hidden dialogs and (2) making as much of the site usable with NoScript as possible, so I have a layout shell that takes the "content" part of a Bootstrap modal and renders it

[2015-05-02 09:53] ultraq commented on #59
Done.  Created a 'head element sorting' strategy interface, and the dialect has 2 built-in that devs can choose from: `AppendingStrategy` which is the default behaviour and the same as how the layout dialect behaved before 1.2.6, and a `GroupingStrategy` which can be selected and is how the layout dialect behaved in 1.2.(6/7/8).

Now to create the documentation so that devs know how to switch betw

[2015-05-02 09:53] #59 closed

[2015-05-02 09:54] ultraq commented on #61
Done, I hope!  See #59.

[2015-05-02 09:54] #61 closed

[2015-05-02 11:10] ultraq opened #73 "Give the docs for 1.3.0 a good once-over"
Just a reminder to take a look at the readme and to both document the new features and remove anything that isn't relevant.  Might wanna give it another pass to see if I can make it more concise too - it's getting quite long.

[2015-05-16 00:34] ultraq commented on #36
I'll give this a go for the next minor release.  Thymeleaf's DOM nodes each have a reference (or a method anyway) to the template in which they live in.  If this changes when the layout dialect has its way with nodes, then I'll need to think of saving this information alongside layouts/includes when fetching them the first time.

If this works, then I should probably think of making this either it

[2015-05-19 11:42] chrylis opened #74 "Groovy dependency?"
Does TLD have a hard or optional dependency on Groovy? I updated from 1.2.7 to 1.3.0-SNAPSHOT, and now I'm getting a transitive dependency that's pulling in the wrong Groovy package (2.3.11 instead of 2.4.3-indy). If it's not a hard dependency, it'd be helpful to make it `provided`.

[2015-05-19 11:49] chrylis commented on #64
I've tested by rolling over to 1.3.0-SNAPSHOT, and I now have a regression where any sort of dynamic interaction in the title element (such as `<title data-th-text="${stuff}" />`) turns off the title decorator pattern entirely.

[2015-05-19 11:54] chrylis commented on #64
Here's a self-contained HTML file:

[code]

I expect the `span` to fill with the results of the `data-th-text` expression, but instead the contents are "Download link".

[2015-05-20 06:45] ultraq commented on #74
1.3 is rewritten in Groovy, so it is needed.  As for which version, I'm not really sure - I just included the latest of the 2.4 releases, but can probably go down a few minor versions depending on what features I'm really using.

Also, are you sure it's trying to pull in the indy version of the JAR?  I didn't compile it against the `invokedynamic` version of Groovy, nor did I use any of the `invok

[2015-05-20 06:48] ultraq commented on #64
Thanks for the test case, I'll throw that in there and see what might be wrong.

[2015-05-20 16:16] chrylis commented on #74
*I* am trying to include indy. The problem is that Maven's classifier system doesn't recognize them as equivalent and tries to include the legacy version alongside it. The latest 1.3.0-SNAPSHOT was pulling in 2.3.11 as a hard dependency.

[2015-05-21 08:37] ultraq commented on #74
OK.  I'm kinda torn on resolving this one: on the one hand, if devs don't explicitly include Groovy themselves, then the layout dialect isn't going to run at all; on the other hand, it makes it annoying for those including the indy versions of Groovy, like yourself.

The non-indy JAR is the default in the Groovy download distribution and for command-line building, so one has to go out of their way

[2015-05-21 14:15] chrylis commented on #74
I understand where you're coming from, and it's probably the best approach, even though it's a bit irritating in my case. (Maven really just needs global exclusions; I'm having to exclude Groovy from about seven dependencies.) I would highly recommend mentioning the switch to Groovy prominently in the docs.

[2015-05-21 14:15] #74 closed

[2015-06-23 15:47] stoye commented on #70
Hey there,

Sorry for the crazy late reply. This fell off our radar for a while. It seems to work marvelously (and thanks for keeping the SNAPSHOT up). I'll keep an eye out for when this gets released as a bugfix, I really appreciate it.

[2015-06-23 17:35] stoye commented on #70
So it turns out this is a pretty big blocker for us. Any opportunity for this getting rolled into a release rather quickly would be greatly appreciated!!

[2015-06-23 20:36] ultraq commented on #70
Happy to make a 1.2.9 release with just this fix in it when I get home tonight (dunno which timezone you're in, but for me that'll be about 12 hours from the posting of this message.  I'll see if I can't kick that off earlier given Maven's delay on releasing new uploads).

[2015-06-24 07:42] ultraq commented on #70
And the 1.2.9 release is now live.  The Maven version is now making its way through the automated release process, but should show up in the next few hours.

[2015-06-24 14:34] stoye commented on #70
Awesome, thanks so much! Working perfectly.

[2015-06-28 02:17] ultraq commented on #71
Tried to get this going, but something about the internals of Thymeleaf prevents new elements from being processed (ie: I insert completely new elements with all of the usual attribute processors, but then nothing happens with them).  Might not be doable with the current state of things :/

[2015-06-28 09:12] ultraq commented on #71
Ah, found something to work.  Thymeleaf wasn't processing it if I made it a brand new node, but if I cloned one and just wiped the attributes to start with what I want, then that works.  Close enough I guess...

[2015-06-28 09:15] #71 closed

[2015-06-28 09:17] ultraq commented on #63
Fixed by #71 - found merging bugs like this in the process which should be resolved by it

[2015-06-28 09:17] #63 closed

[2015-06-28 09:19] ultraq commented on #63
I've updated the 1.3.0-SNAPSHOT with the fix for this issue

[2015-06-29 10:03] ultraq commented on #64
So I just spent a while trying to figure this one out, but if the simplified test case I have is right (https://github.com/ultraq/thymeleaf-layout-dialect/blob/dev/Tests/nz/net/ultraq/thymeleaf/tests/decorators/TitlePattern-DynamicContent.thtest) then this never used to work before (tried on the 1.2 branch of the layout dialect).  `layout:include` works mostly the same as `th:include`, in that it

[2015-07-01 22:27] chrylis commented on #72
This is not working for me in 1.3.0-SNAPSHOT. Steps to reproduce:

Declare "target" view:

[code]

Use the title selector in the layout:

[code]

Expected behavior: page title is "foo | My Site" and the header element is "foo".

Actual behavior with 1.3.0-SNAPSHOT: page title is "foo | My Site" and the header element is "bar".

This behavior is consistent whether I use `data-th-text` or `data-th-i

[2015-07-02 11:28] ultraq commented on #72
You mentioned a similar issue in #64, and I just made a comment there recently where I tried to fix it but couldn't get it to work.  I even tried on the 1.2.x branch of the layout dialect and didn't find it to work there (you claimed it was a regression): https://github.com/ultraq/thymeleaf-layout-dialect/issues/64#issuecomment-116590604

TL;DR: `layout:include` works mostly the same as `th:includ

[2015-07-02 21:49] ultraq commented on #64
OK, so given the convo between this issue and the other, I only went so far as to implement the ability to do this:

[code]

Not:

[code]

I only thought you were asking about the first as that was the example you gave in the original post.  If you're also asking to do the second, then that's another issue, which will prove a bit more difficult to solve without breaking the existing functionality

[2015-07-05 01:59] ultraq opened #75 "Drop the title-pattern processor in favour of outputting title values instead"
I'm seriously considering deprecating and removing the `layout:title-pattern` processor.  It was originally a feature request from way back (#9), and it's a really good idea because it saves devs a whole lot of trouble when we merge titles.  However, it's become quite the maintenance nightmare! :confused:

I'm not gonna leave developers out in the cold though.  My proposed alternative to this woul

[2015-07-05 01:59] ultraq opened #76 "Make use of the result of the title after going through the decoration process"
As mentioned in @chrylis' latest comments on issues #64 and #72, he'd like to make use of the result of the content of the `<title>` element, after decoration, in other parts of the page.

2 possible solutions have come to mind:
1. Modify the `layout:include` processor to see if we're picking out a `<title>` element and go find the resulting title instead of the usual inclusion mechanism (proposed

[2015-07-05 02:00] ultraq commented on #72
New issue created to continue discussion of your more recent comments: #76

[2015-07-05 02:00] ultraq commented on #64
New issue created to continue discussion of your more recent comments: #76

[2015-07-05 02:00] #64 closed

[2015-07-05 03:01] ultraq commented on #75
Question.  In this kind of situation:

[code]

What constitutes the "decorator title"?  Is it "My website", or is it the result of the `th:text` processor? (which is actually supposed to be the resulting title!)

[2015-07-05 03:07] ultraq commented on #76
I may **have** to implement the first solution if I want to do something in a timely manner - the second solution (if it is to pave the way for me dropping the `title-pattern` processor) still has some unanswered questions.

[2015-07-05 03:13] ultraq opened #77 "Drop the NekoHTML warning"
The warning and TODO item here ([DecoratorProcessor:L76](https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Source/nz/net/ultraq/thymeleaf/decorator/DecoratorProcessor.java#L76)) won't be needed in Thymeleaf 3 as it will be able to do HTML without a tag balancer.

[2015-07-05 04:23] ultraq commented on #36
Hmm, I tried but there doesn't look to be a way to communicate the element currently being processed to the message resolution mechanism in @thymeleaf right now.  Internally it just does a lookup using `arguments.getTemplateResolution().getTemplateName()` to get the name of the current template being processed, but there's nothing in `arguments` about the current fragment being processed.

If I'm

[2015-07-05 04:23] #36 closed

[2015-07-06 04:11] chrylis commented on #76
I have no idea what's involved in making any of this work, so I don't think I have standing to critique whatever solution(s) you come up with.

[2015-08-05 03:54] cenggel commented on #69
Is it possible to add exclude attribute to the head element to exclude merge to layout head.  Because in order to static prototyping templates css need to include all template pages.

[2015-08-07 09:59] skollro opened #78 "IntelliJ can't autocomplete with xmlns"
Hi,
I've got  a question: Why are IntelliJ's autocomplete features for XML not usable with xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" in the html tag? It says "The external resource can't be fetched"

[2015-08-07 15:46] mknabe commented on #78
+1 The link is throwing a 404

[2015-08-07 18:11] skollro commented on #78
I hope this is fixed soon... Has anyone this definition file locally for me?

[2015-08-08 10:38] ultraq commented on #78
IntelliJ's autocompletes are only for the standard Thymeleaf dialect, and so there is built-in code to specially handle the Thymeleaf namespace and processors.  There is no such handling for Thymeleaf extensions, like this one.

[2015-08-08 10:40] #78 closed

[2015-08-08 10:44] ultraq commented on #69
Hmm, I'll have to think about a way to do that.  I'll open a new issue to ponder that, figure out how it might be done if at all.

[2015-08-08 10:44] #69 closed

[2015-08-08 10:46] ultraq opened #79 "Exclude certain elements from the <head> merge?"
As asked here: https://github.com/ultraq/thymeleaf-layout-dialect/issues/69#issuecomment-127839239

If it's do-able (it probably is.  It'll mostly be a question of whether I want to implement it as it may not be in line with how I envision this dialect), then what is a good way to go about it?

[2015-08-30 00:35] ultraq commented on #69
@cenggel I'm not sure if I'll implement something like that, but there is already something in Thymeleaf that can help you there: use `th:remove="all"` or `th:remove="tag"` on those elements you don't want merged so that they're not there in the final result.

[2015-08-30 00:36] ultraq commented on #79
I think I'll just recommend using Thymeleaf's `th:remove` processor - it already does what I think I'd implement anyway.

[2015-08-30 00:36] #79 closed

[2015-08-30 04:51] ultraq commented on #76
Second solution implemented, and accessing the resulting title in the template will be just like that: `layout.resultingTitle`.

[2015-08-30 04:51] #76 closed

[2015-08-30 06:16] ultraq opened #80 "Stop including the `xmlns` attribute in the readme"
When Thymeleaf goes full HTML5, then there's no reason for me to include the `xmlns` attribute in examples or tests any more as we're no longer working with XML documents.

[2015-08-30 06:19] ultraq opened #81 "Create tests to match readme examples"
There's a helluva lot of overlap in the tests, and I think it might help to start again.  If I do, then start by creating tests that are basically implementations of the examples in the readme (those are what devs look to for how it works after all), maybe keep a few crucial tests for more edge-case behaviours, and then delete everything else.

[2015-09-01 10:57] #73 closed

[2015-09-02 07:25] ultraq opened #82 "Configurable context object key"
Given this (https://github.com/ultraq/thymeleaf-layout-dialect/commit/c2c0dd1f700791ac7743ce5a9dde4f720513c30f) where I error if something already called "layout" exists on the Thymeleaf variables map, it might be too strong of a stance to take, and so I'm wondering if I should make the name of the context object that this dialect adds to the variables map configurable.

If so, then it should be c

[2015-09-02 07:31] ultraq commented on #62
So I can't figure out what might be happening here.  I think Thymeleaf instantiates everything just once per template engine instance when you first access a page, and then after that everything is either fresh copies of a template, or from a cache that Thymeleaf keeps to itself.  With Spring in the mix, I'm not entirely sure how that works, so can't help much there sorry :/

And there's not much

[2015-09-09 02:33] Sector7B opened #83 "Adjust ReadMe to address default suffix in example."
In the readme example you have Layout.html, but reading this: https://stackoverflow.com/questions/27214584/how-to-add-the-layout-dialect-to-spring-boot-thymeleaf-autoconfiguration-file
I had the same problem as this gentleman did.  A note of this issue or adjusting the example might save some people a lot of time.
Good job.

Thanks.

[2015-09-09 10:06] ultraq commented on #83
Cool cool, thanks for letting me know about that (I didn't know Spring Boot defaults to a `.html` suffix - and given Spring is a major use case for this dialect, then it's some useful info!)  I'll decide on what to do about that one in a bit.

[2015-09-23 20:55] joe-diego opened #84 "how call in modal"
how pass paramers in bootstrap modal ??

====================================MY table==================================

![image](https://cloud.githubusercontent.com/assets/5587972/10058002/7a9fd850-6219-11e5-9521-83a3d4e65ff0.png)

working normally.

more if I try to spend some modal parameter in not working.
==================================my view===================================

![thymelea

[2015-09-23 20:56] joe-diego commented on #84
my dependencies

 compile "org.thymeleaf:thymeleaf-spring4:2.1.2.RELEASE"
   compile group: 'nz.net.ultraq.thymeleaf', name: 'thymeleaf-layout-dialect', version: '1.2.9'
compile 'org.thymeleaf.extras:thymeleaf-extras-springsecurity4:2.1.2.RELEASE'

[2015-09-23 21:00] joe-diego commented on #84
Sorry i am new github..

[2015-09-24 10:42] rubyripperdev opened #85 "Java 6 support does not work with latest version"
The site mentions it works with Java6, but it is compiled agains java version 1.7. Either update your documentation, or revert the gradle setting to 1.6 please.

[2015-09-24 12:03] rubyripperdev commented on #85
Version 1.2.8 still works by the way.

[2015-09-25 00:54] ultraq commented on #85
Gah, my mistake.  I still aim to support Java 6 with the 1.x versions - the 1.7 flag in my build is incorrect.  Thanks for letting me know :+1:

[2015-09-26 23:05] ultraq commented on #68
In-flight "docs" for the new dialect API: https://github.com/thymeleaf/thymeleaf/issues/401

[2015-09-27 09:27] ultraq commented on #85
I've uploaded a 1.3.1-SNAPSHOT version of the layout dialect with Java 6 support back in it.  Could you give that a try?  Travis CI says it's passing against OpenJDK6.

[2015-09-27 09:45] ultraq commented on #84
Hi there, I think Thymeleaf is having trouble processing the parameters you're giving your modal, which is this part:

![screen shot 2015-09-27 at 10 37 37 pm](https://cloud.githubusercontent.com/assets/1686920/10122101/6b06dc98-6568-11e5-95ea-d7ffa99ef644.png)

I think the `modalId` parameter isn't a proper string - the `del_image_+'${img.codigo}'` might need to be `'del_image_'+${img.codigo}` or

[2015-09-27 19:30] joe-diego commented on #84
thanks for answering, I removed the modal and made the other way, now I have trouble making validations., there is a project ready to spring mvc and thymeleaf with hibernate and Ben validations so I can take a look and see how to do?
Once again thank you for answering.

[2015-09-27 19:30] #84 closed

[2015-09-27 20:14] ultraq commented on #84
There are a few Thymeleaf example projects (https://github.com/thymeleaf?utf8=%E2%9C%93&query=example), but none of them use bean validations.  However, I did find one thorough tutorial on the Spring website (http://spring.io/guides/gs/validating-form-input/) and another one from a blog post (http://blog.codeleak.pl/2014/06/better-error-messages-with-bean.html) so I hope hope those all combined ca

[2015-09-27 20:23] joe-diego commented on #84
validation doing correctly in the controller, but does not print the view and the data do not come back as they were, for hours on stackoverflow I'm looking for a solution, not more acho..O example above seems to work for me.

[2015-09-28 08:10] rubyripperdev commented on #85
I could not find the mentioned download, but after a little trial and error I got the gradle build working from the dev branch. After recompiling against the new library, I got the following runtime error:

2015-09-28 10:06:45,149 WARN  org.springframework.web.context.support.AnnotationConfigWebApplicationContext  - Exception encountered during context initialization - cancelling refresh attempt
o

[2015-09-28 08:13] ultraq commented on #85
Ah, snapshot releases are on the Maven central snapshots server (you have to configure your Maven/Gradle to use it), but I can give you a link to the JAR here: https://oss.sonatype.org/content/repositories/snapshots/nz/net/ultraq/thymeleaf/thymeleaf-layout-dialect/1.3.1-SNAPSHOT/thymeleaf-layout-dialect-1.3.1-20150927.092153-1.jar

[2015-09-28 12:59] rubyripperdev commented on #85
I keep getting java.lang.NoClassDefFoundError: Could not initialize class nz.net.ultraq.thymeleaf.LayoutDialect. Which is very strange since I do the same configuration in a unit test which passes just fine.

This also happens for the 1.3.0 version with the flag updated to 1.6. Might be some groovy related thing perhaps.

I am happy with the 1.2.8 version though and keep using that one.

[2015-10-01 08:05] #85 closed

[2015-10-12 15:19] gseifert opened #86 "Groovy dependency"
The latest version now has a groovy dependency.  Many projects avoid any dependency on groovy.  See http://stackoverflow.com/questions/24403691/is-writing-a-library-with-a-dependency-on-groovy-a-good-idea

So if I don't want to include a dependency on groovy, I guess I am stuck on version 1.2.x and miss out on some bug fixes in 1.3+?

[2015-10-13 06:53] ultraq commented on #86
There's a dependency on Groovy because it was rewritten in Groovy - I don't think I can avoid the dependency if it's written in that language :P

I made the move to Groovy for many reasons that are mostly personal opinion/preference/choice, the biggest one being that I found maintaining the layout dialect as a Java project a chore and so stopped enjoying working on it.  I still like the JVM, but a

[2015-10-13 06:53] #86 closed

[2015-10-27 14:35] ebussieres commented on #68
Is there an ETA for layout dialect to work with thymeleaf 3.0 ? I would like to try thymeleaf 3 alpha with layout dialect.

[2015-10-28 07:52] ultraq commented on #68
I'm just waiting for a beta version to start dev work - the API just kept changing during the alpha!  That should be soon now though if talk on the Thymeleaf GitHub is anything to go by (eg: https://github.com/thymeleaf/thymeleaf/issues/380#issuecomment-151408971)

[2015-10-28 11:25] ebussieres commented on #68
All right thank you for your quick response :)

[2015-11-01 21:10] marcosbis commented on #68
Hi there,
Have you got any updates about Layout Dialect supporting the new thymeleaf 3.0, I think beta01 version was released last week.

 Thanks!

[2015-11-03 10:24] ultraq commented on #68
It'll still be a while - I only just created a new code branch for 3.0 development and updated the build to download the 3.0 beta.

[2015-11-13 14:13] Antibrumm opened #87 ">1.3.0 Default Fragment overridden if used in th:each loop"
Hi
I have just tried to update your library from 1.2.9 to 1.3.1 and I ran into an issue while using the "Default" layout feature inside a th:each loop. This was working with 1.2.9.

When you declare a `layout:fragment` with a default implementation it will be super seeded for all  iterations following a specified part.

I believe that it might have something to do with where the fragment name loca

[2015-11-14 21:11] ultraq commented on #87
Thanks for the bug report - I think I'll be able to convert your example to a test case to fix it.

[2015-12-01 10:25] Fornori commented on #68
Hello. Any news about support 3.0Beta1?

[2015-12-03 22:32] drobert opened #88 "maven transitive groovy dependency"
When pulling down the latest dialect artifact from maven central, it includes a transitive dependency on the groovy lib. I believe this should only be an artifact at compile time of the lib, but not for downstream consumers of the lib.

[2015-12-03 22:38] drobert commented on #88
I may re-open this but this may be a local environment snafu. Closing for now.

[2015-12-03 22:42] drobert commented on #88
Confirmed. See the pom file from maven central as seen here:
http://central.maven.org/maven2/nz/net/ultraq/thymeleaf/thymeleaf-layout-dialect/1.3.1/thymeleaf-layout-dialect-1.3.1.pom

[2015-12-04 08:22] ultraq commented on #88
I remember trying to check that it was a compile time only dependency, but remember a test where if I don't include it then I'd get `NoClassDefFoundError`s.  Do you think you'd be able to confirm this if you're working on a Java project by excluding the dependency in your maven config and seeing if your program still runs?

[2015-12-04 14:46] drobert commented on #88
It's working for me so far, but I haven't done any particularly exhaustive tests. No immediate explosions. If the downloadable 1.3.1 jar works, then it ought to work in maven as well without a transitive dependency. I'll post back if any issues come up, but I'll be on vacation for the next 10 days or so.

[2015-12-04 22:32] ultraq commented on #88
So I fired up the [Thymeleaf + Spring PetClinic example app](https://github.com/thymeleaf/thymeleafexamples-petclinic) and added the layout dialect to the template engine config.  Upon startup I got exceptions in the startup log because it couldn't find `org.groovy.lang.Object` or something like that.  When you're back from your vacation, could you see if you get those too?

I'll try on a non-Spri

[2015-12-05 13:50] robertobsc commented on #68
Hello @ultraq ! Looking foward to your dialect support for 3.0 beta!

[2015-12-08 13:14] beradrian commented on #68
+1

[2015-12-10 18:39] csavory commented on #63
we were using Layout Dialect 1.2.9 and have now upgraded to 1.3.1.

We had some global classes being set in the layout.html like this:
[code]
Which are now overridden by the fragment:
[code]

I realize I can just remove the ```class="container"``` on the fragment and it will work like I want it to, but i'm looking for a variable that I can set on the layout.html fragment to see that these attribut

[2015-12-11 10:36] ultraq commented on #63
What is the result that you're aiming for @csavory?

The behaviour in 1.3 is for the content attributes to override any layout attributes (the only exception being `th:with` attributes getting merged because they can contain information to be passed around).  Versions older than 1.3 had no rules about attributes (as discovered by the original poster) and so were a bit of a mixed bag, so I set to f

[2015-12-17 15:00] ctrl-f5 opened #89 "xmlns points to non existent page"
http://www.ultraq.net.nz/thymeleaf/layout gives a 404, and the IDE doesn't understand the dialect attributes...

[2015-12-18 09:30] ultraq commented on #89
Hmm, guess the redirect isn't working then - it should be redirecting to this GitHub project.  Will fix.

[2015-12-30 09:17] sagaxu opened #90 "java.lang.IllegalArgumentException: Index of child to remove must be >= 0"
Versions <= 1.2.9 are OK.
Versions >= 1.3.0 not working.

The layout.html is
[code]

This index.html file works fine.
[code]

And this one won't work.
[code]

Here is the error message.
[code]

Maybe this was caused by
[code]
But I'm not sure.

[2016-01-02 11:47] ultraq commented on #90
Thanks for the bug report!  Your suspicions of the buggy code might be right - that thing guesses what the whitespace for a section is, but if there is none (like in your example template), then it errors.

I'll fix this in an upcoming patch.

[2016-01-07 18:46] end-user opened #91 "data attribute style example?"
Could you provide an example of how to use the "data attribute" syntax?

[2016-01-08 10:32] ultraq commented on #91
Well, it's just like how you'd use data attributes in Thymeleaf: http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#support-for-html5-friendly-attribute-and-element-names

So, if we take the Content1.html example from the readme (https://github.com/ultraq/thymeleaf-layout-dialect#decorators-and-fragments) and convert the `layout:*` processors into their data attribute equivalents, you'

[2016-01-08 10:32] #91 closed

[2016-01-08 13:29] Stummi opened #92 "Excessive newlines in head block overriden from decorator"
I noticed that, when using a decorator and overriding the head block to add resources, there are excessive newlines in the result.

I reduced the issue to a minimal example here:

Layout:
[code]

Template
[code]

Creates the following result:

[code]

It seems that three empty lines are created for every line added to the head block.

The [official example](https://github.com/ultraq/thymeleaf-layo

[2016-01-08 14:28] Stummi commented on #92
Additional note: While playing around with the versions, it seems that this issue was introduced with version 1.2.9

[2016-01-19 06:43] ultraq commented on #89
Redirects fixed to point to their respective GitHub projects.

As for the IDE, if you're using Eclipse you can install the [Thymeleaf Extras Eclipse Plugin] to give you some content assist for the layout dialect and `layout:` namespace.  If you're on other IDEs though, it'll be up to the IDE devs to implement such support.

[2016-01-19 06:43] #89 closed

[2016-01-19 09:05] ctrl-f5 commented on #89
isn't the whole point of such a namespace URL to point to a file detailing the spec?

[2016-01-19 09:23] ultraq commented on #89
I think you're thinking of the second part of an XML namespace declaration which is an optional URL to a schema definition file, eg: `xmlns:blah="http://blah.org/ http://blah.org/definition.xsd"`

Unfortunately, there is no schema definition for Thymeleaf dialects, and the issue for creating one (and thus building it into the parsing system) was dropped: https://github.com/thymeleaf/thymeleaf/issu

[2016-01-22 13:46] miki4you commented on #68
Are there any news on the update progress ?

[2016-01-24 08:53] ultraq commented on #68
Hey peeps, still nothing.  I've only managed to update my other dialects to have snapshots with the 3.0 beta as an exercise to become more familiar with how Thymeleaf 3.0 does things.  The architecture is quite different, and a lot of what I did in Thymeleaf 2.x I can't do here, so I'm having to come up with new ways of doing things.

[2016-01-24 08:53] #62 closed

[2016-01-24 08:58] ultraq opened #93 "Update readme for Thymeleaf 3.0"
As part of #68, update the readme so that it uses more HTML5 instead of XHTML - we're living in the future now!

[2016-01-24 09:00] ultraq commented on #93
Forgetful me, I already have an issue for this!  Closing.

[2016-01-24 09:00] #93 closed

[2016-01-24 09:03] ultraq commented on #80
Done for the XHTML namespace.  Do I do it for the Thymeleaf and dialect ones too?

[2016-01-24 09:04] ultraq commented on #68
For future reference, any progress (or lack thereof), can be found in the [dev](https://github.com/ultraq/thymeleaf-layout-dialect/tree/dev) branch of this project.

[2016-02-07 18:40] lpalomerol opened #94 "Content1.html sample does not work"
Hello.

You are doing an amazing job here! Only one appointment. In your first sample you are including as decorator "Layout.html", and this sample is broken. I've been debugging my Spring project with Maven and I saw the decorator should be only the layout path without html suffix.

[code]

Regards,
L

[2016-02-07 21:32] ultraq commented on #94
Thanks for bringing this up - I've got a similar issue about the documentation (#83) in that a lot of popular frameworks that use Thymeleaf and this dialect have a default suffix of `.html` in their configuration files, thus making the `.html` in these examples, redundant.

I'll remedy it all for the next version.

[2016-02-13 08:24] ultraq opened #95 "Rename layout:decorator to layout:decorate"
If we're following the decorator pattern, then what is specified in the `layout:decorator` attribute is the template to be decorated, not the templating doing the decorating.

So would it make more sense to rename the processor to `layout:decorate`?

[2016-02-13 08:36] ultraq commented on #90
Fixed with a simple index > 0 check.  I've uploaded a 1.3.2-SNAPSHOT version of the layout dialect with this fix.

[2016-02-13 08:36] #90 closed

[2016-02-13 23:26] ultraq commented on #95
I'm thinking yes as then each of the processor names are verbs describing what is happening to the target: `decorate` this, `include` that, `replace` a template, etc.

`title-pattern` and `fragment` are still exceptions though :stuck_out_tongue:

[2016-02-14 04:07] ultraq opened #96 "Drop layout:include/layout:replace for the new Thymeleaf 3.0 fragment expressions"
Looking at the new [fragment expressions](https://github.com/thymeleaf/thymeleaf/issues/451) feature of Thymeleaf 3.0, it basically does what `layout:include`/`layout:replace` do.  If that's the case, then maybe I can remove `layout:include`/`layout:replace` from this dialect.

[2016-02-14 04:18] ultraq commented on #96
So fragment expressions can do the job, but it approaches the problem at a different angle.  If used the way that `layout:include`/`layout:replace` are documented, the resulting code can look very unreadable! (because the selection mechanism will have to include the scope at which the inclusion/replacement takes place)

I think I'll leave `layout:include`/`layout:replace` processors well enough al

[2016-02-14 04:18] #96 closed

[2016-02-14 04:44] ultraq commented on #87
Fixed!  As you suspected, the place the fragments were stored was the culprit.  In 1.3.0 I introduced a fragment map, but it was a global that then meant each decorator/include/replace operation would share fragments, which isn't desired.

I've created a 1.3.2-SNAPSHOT version with this fix.  This was the last bug fix I planned for 1.3.2 though, so a proper release should be coming soon.

[2016-02-14 04:44] #87 closed

[2016-02-14 05:00] ultraq commented on #94
Readme updated for 1.3.2 onwards.

[2016-02-14 05:00] #94 closed

[2016-02-14 05:00] ultraq commented on #83
Readme updated for 1.3.2 onwards.

[2016-02-14 05:00] #83 closed

[2016-02-15 04:18] tsengyi opened #97 "support dynamite decorator layout in runtime?"
e.g. Now we need hardcode the decorator in page user.html.
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/public">

Now I have 2 layout, public.html and admin.html,
when open  /admin/blog, then use admin.html layout,
and open /pulbic/blog, then user public.html layout.

Does it support ?

[2016-02-15 08:35] ultraq commented on #97
You can use a feature of Thymeleaf called Preprocessing Expressions (http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#preprocessing) that can let you write an expression inside the `layout:decorator="..."` part which you can use to switch between different layouts.  For example:

[code]

The result will then be fed into the `layout:decorator` processor.

[2016-02-15 08:35] #97 closed

[2016-02-16 03:15] tsengyi commented on #97
It's work, thx

[2016-02-17 10:14] ultraq commented on #92
Just had a look into this, and I'm seeing a lot of extra whitespace coming from when I copy over whitespace nodes from the content template into the decorator one.  This is during the `<head>` merging process.

In versions prior to when this is seen, I copied only other elements.  But for work done in issue #70 (released in 1.2.9), I relaxed that and copied over everything.

I might need to add so

[2016-02-18 09:16] ultraq commented on #92
Compounding whitespace fixed!

This issue affected anybody using the default ['appending' head merging strategy](https://github.com/ultraq/thymeleaf-layout-dialect#head-element-merging).  If you configured Thymeleaf to use the grouping strategy or implemented your own, you'd likely not encounter this issue.

I've released a 1.3.3-SNAPSHOT version with this fix in the interim.

[2016-02-18 09:16] #92 closed

[2016-02-19 08:28] xaph commented on #68
hi @ultraq thanks for dev branch but maven can't resolve 2.0.0-SNAPSHOT version.

Do you have any plan on releasing new version?

[2016-02-22 07:50] #77 closed

[2016-02-29 09:42] eddumelendez commented on #68
I am working in the integration with spring-boot https://github.com/spring-projects/spring-boot/issues/4393 and we will need it.

[2016-03-27 00:00] yvanavermaet commented on #68
Any update? If you need a hand with functional testing, I'd be happy to help.

[2016-03-29 09:48] ieugen opened #98 "Possible migration to java instead of groovy?"
Hello,

First of all I'm using yor plugin in a few project and I'm pretty happy with it. Thank you for all the hard work you've put in.

One thhing that bothers me is that it depends on groovy which brings a big dependency of 4.3MB. If this was the only dependency in a project it shouldn't be a big issue, but dependencies tend to add up. I've checked my projects and groovy seems to be the bigges o

[2016-04-05 01:01] ultraq commented on #98
Hi @ieugen, the short answer is no, I'm not going to write the next version of the layout dialect in Java.

The long answer is that, for various reasons (my day job is JavaScript, so I like being able to bring dynamic types and functional programming into my personal projects; thus I am now unmotivated to write Java code), I actually moved this project from Java to Groovy about a year ago, and don

[2016-04-05 01:01] #98 closed

[2016-04-05 01:02] #88 closed

[2016-04-05 05:11] ieugen commented on #98
Hi @ultraq, thank you for answering. I respect your reasons. I'll probably for it if I have some time. Thank you for the tip regarding the move from Java ot Groovy.

[2016-04-18 15:37] ptahchiev commented on #68
+1

[2016-04-21 22:00] Kerruba opened #99 "Inherit objects from parent layout when using layout decoration"
Hi,

I think would be nice to use variable inheritance within layout template, defining default variables in the base template that can be overridden in the decorating child template.
For example, I've a base template base.html which contains various layout fragments, one of which is the navigation bar.
I would like to use a currentPage variable to set the active page in the navigation bar using a

[2016-04-21 22:04] Kerruba commented on #99
So I just found out that if you don't define any other variable in the child template, the child template is actually picking up the default value inside of parent... I'm missing something probably -_-'

[2016-04-23 03:53] ultraq commented on #99
Oh hey, you're the one I tried answering in the forums :smile:  Well I guess the merging resulting in `th:with="something=${parentObject},something=${childObject}"` didn't work if you're here.

As you've found, objects defined in the parent/layout template can be seen by the child templates, but there's probably not a way of getting child templates to override those objects because of the way I me

[2016-04-23 11:49] Kerruba commented on #99
Hey, thank you for the reply. Well, I think it would be really great to merge all the object as you said. I imagine that all the objects created in all the pages (parent, child and fragments) are collected in a single set of variable, generated from the most generic to the most specific element (ideally parent -> child -> fragment) and while your are composing the template with more specific eleme

[2016-04-24 01:12] ultraq commented on #99
It should be a matter of updating that merging, so hopefully an easy thing.  (The layout dialect just outputs a new `th:with` processor on the element that the merging takes place, instead of using Thymeleaf's internals to do it, so the results are rather predictable.)  I'll let you know when I make a snapshot version with that in it for you to try.

[2016-04-26 04:17] ultraq commented on #99
I've just uploaded a `1.4.0-SNAPSHOT` version of the layout dialect with a change to do much smarter merging of `th:with` variables to support this use case.  Doesn't seem to break existing tests, so that's a plus :grin:  Could you give it a go and let me know if it helps you out?

[2016-04-26 08:50] Kerruba commented on #99
@ultraq I'll give it a try and let you know :-) Thank you very much

[2016-04-26 15:52] Kerruba opened #100 "Question: is possible to reference layouts from a maven dependency?"
Hi,

maybe is a little bit tricky to explain what I'm going after, I'll try to do my best 😄

I'm trying to create a website that uses reusable templates. Inside of the templates, I'm splitting different part of the page in different files, i.e header, footer, etc.
This website is "plain vanilla": the idea is to use it as a maven dependency and let the customer provide his own header and footer sty

[2016-04-26 21:24] ultraq commented on #100
You should be able to do something like that using Thymeleaf's view resolvers.

The project for the website being developed can have the usual one pointing to the templates in their resources or web content directory or wherever they like to put their templates, and then configure another view resolver (probably a [ClassLoaderTemplateResolver](http://www.thymeleaf.org/apidocs/thymeleaf/2.1.4.RELEA

[2016-04-27 06:49] ultraq opened #101 "Go through existing Thymeleaf test files, try convert some to JUnit tests"
I've just added a bunch of JUnit tests for some enhancements and found they're much nicer than some of my existing tests (Thymeleaf test files) in that they're integration tests and thus break whenever something seemingly unrelated changes :confused:

I should have a look through some of those test files, see if I can replace more of them with unit tests.

[2016-04-27 09:29] Kerruba commented on #100
So, using directly WAR overlay technology from Maven, it seems I'm already able to reach the `@RequestMapping` in the dependency project, but it seems Layout dialect is not correctly interpreted. I mean, thymeleaf specific dialect is read correctly, but the attribute `layout:decorator`is not interpreted, therefore the template is not constructed

[2016-04-27 09:52] ultraq commented on #100
If the `layout:*` attributes weren't processed, then the layout dialect mustn't be on the instance of Thymeleaf being used for the page.  Can you confirm that the layout dialect is loaded?  I think it'll show in the server logs the first time you get a page processed by Thymeleaf and you have the Thymeleaf loggers (`org.thymeleaf`) set to INFO.

[2016-04-27 12:54] Kerruba commented on #100
So the problem was that the compiled project was packaged as WAR instead of JAR. Switching to jar solved the problem and I was able to read everything from the "parent" project

[2016-04-27 12:54] #100 closed

[2016-04-27 13:07] Kerruba commented on #99
Confirmed, 1.4.0-SNAPSHOT is not available as maven dependency, our development build plan just crashed :cry:

[2016-05-01 07:21] ultraq commented on #80
Nah, I'll leave those in there to keep XML-ish editors in IDEs happy.

[2016-05-01 07:24] #80 closed

[2016-05-02 00:29] ultraq commented on #99
Good to see you resolved the snapshot issue.  How's the testing of the fix going?

[2016-05-02 00:30] ultraq commented on #81
Created tests for examples, now to see if any of the other tests are just overlaps of what I have...

[2016-05-02 09:00] ultraq opened #102 "Performance improvements under Thymeleaf 3"
I'm currently implementing the layout dialect in Thymeleaf 3 using 'model processors', which makes the transition to the new event-based architecture a lot easier for me, but may cause developers to lose a lot of the performance benefits of said architecture.

So yeah, I'm concerned about performance.  Some things I should try that should help:

 - [x] Create a benchmark suite to make sure further

[2016-05-02 09:49] Kerruba commented on #99
I've tested it in a couple of situations, both were totally fine. Maybe I can test it further creating some "crazy" combination of fragments/inheritance, let's see what it will happen :+1:

[2016-05-03 01:54] ultraq commented on #99
Cool cool, just eager to release a 1.4.0 version with this change in it once you let me know it's all good 😃

[2016-05-04 09:01] Kerruba commented on #99
I think that is alright for what was my need :+1: you can push the new version. In case something is wrong, we can rise a new issue, what you think about it? 😃

[2016-05-04 09:25] ultraq commented on #99
Sounds good to me 👍

[2016-05-04 09:25] #99 closed

[2016-05-04 23:29] ultraq commented on #99
Version 1.4.0 released.  It should show up on Maven central shortly (although probably not on the search results for a few hours).

[2016-05-05 07:20] ultraq opened #103 "Respect the runtime-configured dialect prefix"
In Thymeleaf 3.0, developers can change the prefix of dialects.  Currently, the code of the layout dialect doesn't listen to this, instead making assumptions that the standard processors are prefixed with `th` and that the layout dialect is prefixed with `layout`.

The code should be updated to respect whatever the runtime-configured prefixes are for the standard and layout dialects.

[2016-05-07 04:03] ultraq commented on #68
First `2.0.0-SNAPSHOT` uploaded with only the few features checked on the list I've added to the original post.

Basically, only XML document decoration which doesn't include having to copy directives (eg: DOCTYPEs or comments) outside of the root elements, eg: this test file: https://github.com/ultraq/thymeleaf-layout-dialect/blob/thymeleaf-3.0/Tests/nz/net/ultraq/thymeleaf/tests/decorators/xml/D

[2016-05-07 04:06] ultraq commented on #102
These can probably wait until after the 2.0.0 release if I don't want to hold that up.

[2016-05-07 04:08] ultraq commented on #75
No, I don't think I can make this one work because of the situation mentioned in my first comment.  Dropping for now, removing from the 2.0 milestone, might revisit in future.

[2016-05-07 04:08] #75 closed

[2016-05-09 03:15] linux-china commented on #68
+1

[2016-05-10 07:08] lmtoo opened #104 "a mix up bug report"
I recently write a big page,this page have navbar and a logou button,so when click the logout button,will alert a dialog:

[code]

there I include a dialog,and custom the confirm button,
but my content page have a delete button too,
so i write a confirm dialog too,

[code]

but when i run up my app,the generated page's confirm buttons all is

[code]

this is not i want ,
my expect is logout dialog

[2016-05-10 09:11] ultraq commented on #104
Are you able to also post what the `fragments/dialog :: dialog` template code looks like?

Also, I just noticed that there's a potential spelling mistake in your code, where you're passing a fragment named `"dialog-buttoins"` instead of what I think should be `"dialog-buttons"`.  Is that just an error in your post, or an actual error in your template code?

[2016-05-11 11:09] tobiasflohre commented on #68
+1

[2016-05-12 06:13] lmtoo commented on #104
I'm sorry,It's my mistake,thank you for the answer.

[2016-05-12 06:13] #104 closed

[2016-05-13 13:45] jonhkr opened #105 "No groovy please"
Groovy is a dependency of 4.5MB.
Do you really need to use it?
Is there anything that can't be done in plain Java?

4.5MB may not seem a lot, but add it with all other dependencies that are **really** required by applications.

[2016-05-13 23:46] jonhkr commented on #105
Never mind, managed to exclude it from my build.

[2016-05-16 11:46] ultraq commented on #68
Just an FYI to anybody watching: the latest `2.0.0-SNAPSHOT` now has as many features in it as the original version 1.0 of the layout dialect, so it *may* be useful to someone out there to play around with.

[2016-05-17 16:32] rakpan commented on #68
+1

[2016-05-18 11:41] ultraq commented on #81
Completing for now as I'll be encountering the tests to update as I go, which is what I'm doing now.

[2016-05-18 11:41] #81 closed

[2016-05-18 11:50] ultraq commented on #49
Hmm, I don't see myself doing anything about this issue, some 2 years after it was first raised, mostly because I can't figure out a way of overcoming the problem I identified in the last paragraph of my previous reply.

So I'm going to close this as 'not doing', sorry.

[2016-05-18 11:50] #49 closed

[2016-05-19 11:47] zhanhb commented on #105
can thymeleaf-layout-dialect run without groovy?

[2016-05-19 11:51] ultraq commented on #105
I don't think it can.  I tried starting an example app with the layout dialect [the last time someone asked this](https://github.com/ultraq/thymeleaf-layout-dialect/issues/88#issuecomment-162100500) and kept getting `ClassNotFoundException`s

[2016-05-19 11:51] jonhkr commented on #105
No, it wont render the layout without it.

[2016-05-19 11:52] jonhkr commented on #105
Seriously, a small lib turned out in a huge lib just because of syntax.

[2016-05-19 13:10] ultraq commented on #105
I've written on another issue [my reasons for moving to Groovy](https://github.com/ultraq/thymeleaf-layout-dialect/issues/98#issuecomment-205568813), even giving the person asking a few tips on ways they could fork and create a Java-only version if they wished.  This is a personal project, and so all of my own opinions and decisions are throughout this code, which not everyone will agree with.  I'

[2016-05-19 13:10] #105 closed

[2016-05-19 20:26] robvanderboom commented on #68
Hi,
how can i already use 2.0.0.-SNAPSHOT in pom.xml ?
have dependency (see below) but it doesn'nt work.
Is there other way i can already use the snapshot ?

 <dependency>
                <groupId>nz.net.ultraq.thymeleaf</groupId>
                <artifactId>thymeleaf-layout-dialect</artifactId>
                <version>2.0.0-SNAPSHOT</version>
</dependency>

[2016-05-20 09:44] zhanhb commented on #105
https://github.com/zhanhb/thymeleaf-layout-dialect

[2016-05-20 09:57] ultraq commented on #105
👍

[2016-05-20 09:58] zhanhb commented on #105
but only support jdk 8+

[2016-05-20 09:59] ultraq commented on #68
@robvanderboom, you can follow the instructions in this section here to enable access to the snapshot repositories: http://www.thymeleaf.org/faq.html#use-snapshot

[2016-05-20 12:27] ultraq opened #106 "Use either new TupleConstructor or MapConstructor AST transformations"
Groovy 2.5.0 will introduce a new option on the TupleConstructor to generate constructors without default arguments, and a MapConstructor annotation that can create map constructors with pre/post conditions.  I incorrectly used TupleConstructor in 1.3+, thinking it created required parameters, but then didn't realize it until work on 2.0 where I then go back to writing boilerplate constructors bec

[2016-05-22 07:44] robvanderboom commented on #68
Thanks a lot, yes this is ok now.
However (i am employee and upgrading from 2->3) i get an exception every time i use a "/"  :
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/2col_wide_left">
... ect.

If i place 2col_wid_left one level up and define it without "layout/2col_wide_left"  it goes o

[2016-05-22 08:09] tobiasflohre commented on #68
@robvanderboom I also stumbled over this exception. It seems that from Thymeleaf 3 you have to put literals between single quotes, otherwise it is treated as an expression. So try
layout:decorator="'layout/2col_wide_left'"
instead of
layout:decorator="layout/2col_wide_left"

[2016-05-22 09:31] ultraq commented on #68
@robvanderboom, @tobiasflohre's suggestion seems legit, but this speaks to me of maybe some undesired behaviour from the expression engine if it suddenly can't interpret fragment paths with a `/` in them.  Has an issue been raised against the Thymeleaf project for that change in behaviour?

Also, with the 2.0.0-SNAPSHOT versions, I've tried interpreting the value that goes into `layout:decorator`

[2016-05-22 09:37] robvanderboom commented on #68
The additional single quote helps for layout:decorator, but seems have to do this also for attributes like data:addurl="@{/add-interest}". Try to do all and see whats happining.  But seems indeed that the expression engine is doing something strange and this isn't the final solution... Keep you updated...

[2016-05-22 10:25] ultraq opened #107 "th:include is on its way out, so layout:include should be too"
Given https://github.com/thymeleaf/thymeleaf/issues/405, and that I keep the fragment insertion names the same as what's in Thymeleaf, I should eventually retire `layout:include` in favour of `layout:insert`.

[2016-05-22 18:45] robvanderboom commented on #68
don't know were to start with this issue.  It seems there is something new in Thymeleaf three that wants to see everything as an expression :->
For example i have a template with a <span data:title="${article.title}"></span>
It then gives an exception org.thymeleaf.exceptions.TemplateProcessingException: Could not parse as expression:  "example title".  So this means it first translates its to the

[2016-05-23 09:01] ultraq commented on #68
That last bit about the `data:title` you might need to bring up with the makers of the data attribute dialect (https://github.com/mxab/thymeleaf-extras-data-attribute).

[2016-05-23 11:44] tobiasflohre commented on #68
@ultraq I'm checking the Snapshot implementation currently, and I found out that the template which is used to decorate (surround) our main template is loaded four times:
- one time completely at DecoratorProcessor 92
- one time with selector head at HtmlDocumentDecorator 72
- one time with selector body at HtmlDocumentDecorator 101
- one time with selector html at HtmlDocumentDecorator 119

Do yo

[2016-05-23 11:46] ultraq commented on #68
Hi @tobiasflohre, could you please raise a separate issue for that?  I'm starting to think this one might get swamped if we try to track everything in the snapshot against it.

[2016-05-23 12:32] tobiasflohre opened #108 "Thymeleaf 3: Is loading the template four times really necessary?"
I'm checking the Snapshot implementation currently, and I found out that the template which is used to decorate (surround) our main template is loaded four times:

one time completely at DecoratorProcessor 92
one time with selector head at HtmlDocumentDecorator 72
one time with selector body at HtmlDocumentDecorator 101
one time with selector html at HtmlDocumentDecorator 119
Do you think that's n

[2016-05-23 12:33] tobiasflohre commented on #68
Yes, that's better. Here it is: https://github.com/ultraq/thymeleaf-layout-dialect/issues/108

[2016-05-24 08:18] ultraq commented on #108
Thanks for raising this.  Yes, the loading of a template 4 times seems totally unnecessary.  At the time I added those, it was the only way I knew how to obtain a model from a template, not knowing that it went through all of these Thymeleaf methods to reach out to template resolvers and everything else.

Now, I know how to pull out a sub-model from a model, so I'll be adding that to those areas y

[2016-05-24 08:20] ultraq commented on #102
See #108 for a performance issue when I load templates too often (made worse by the fact that templates are pulled over the internet).  That should be another thing to look into for performance.

[2016-05-24 08:27] tobiasflohre commented on #108
Each of those four loadings is done with a different cache key since the selector is included in the cache key. Of course, when the page is loaded the second time with caching turned on, we already have those four entries in the cache.
Thanks for adressing this! Tell me when it's included in the latest snapshot :-)

[2016-05-24 08:31] ultraq commented on #102
Something else that's come up in talks w/ Daniel: performing model equality might be a bit of a hit, particularly for text nodes that will need to resolve their underlying `CharSequence` in memory.

[2016-05-25 08:25] pbauerochse opened #109 "Don't include header elements more than once"
First of all: Thanks for this beautiful dialect. It really helped me structure my app in separate layouts.
One thing I noticed though:

I have a base template with all my common js and css in the head section. In my content files that get included via your dialect, I might add some additional js / css only required for that specific page. This is all fine. But wenn I also add another css/javascrip

[2016-05-25 08:45] ultraq commented on #109
Hey @pbauerochse, I'm glad you like this dialect 😊  Currently there is no way to detect and remove duplicates, so this might be something I can add in a future version.

As a solution though, you can add a `th:remove="tag"` to the `script` tag in your content page, so that when Thymeleaf processes it, it'll remove the duplicate.  Would that be enough to help here?

If not, then I'll have to have a

[2016-05-25 08:48] pbauerochse commented on #109
Yeah I figured it could be a bit complicated to detect that. But I think your ``th:remove="tag"`` solution might just be the answer to me. I was not aware of that tag so I'll give it a try. Thanks for your quick help

[2016-05-29 10:46] ultraq commented on #108
Didn't think I'd be working on this for a while, but I came across something else that needed changes to how I fetch models, and so this got updated in the process 😁

I've just uploaded another 2.0.0-SNAPSHOT, so that should reduce the crazy amount of template fetching that you found.

[2016-05-29 10:46] #108 closed

[2016-05-29 13:54] retromuz opened #110 "Bad markup or template processing sequence"
I get below error with the latest snapshot "thymeleaf-layout-dialect-2.0.0-20160529.104220-7". If I revert to "thymeleaf-layout-dialect-2.0.0-20160519.131359-6" everything works fine.

`2016-05-29 23:34:26.931 ERROR 9449 --- [nio-8080-exec-1] org.thymeleaf.TemplateEngine             : [THYMELEAF][http-nio-8080-exec-1] Exception processing template "partner/edit-promotion": Bad markup or template p

[2016-05-30 09:54] ultraq commented on #110
Hi @karunadheera, thanks for the bug report!  Are you able to provide a sample template that generates this error?  I never got this with any of my tests, so I could be missing something.

[2016-05-30 13:02] tobiasflohre commented on #110
I have the same problem with Snapshot 8:
org.thymeleaf.exceptions.TemplateProcessingException: Bad markup or template processing sequence. Model level is != 0 (3) at template end.
	at org.thymeleaf.engine.ProcessorTemplateHandler.performTearDownChecks(ProcessorTemplateHandler.java:481)
	at org.thymeleaf.engine.ProcessorTemplateHandler.handleTemplateEnd(ProcessorTemplateHandler.java:465)
	at org.th

[2016-05-30 13:02] tobiasflohre commented on #108
Thanks! Now I got https://github.com/ultraq/thymeleaf-layout-dialect/issues/110 ;-)

[2016-05-30 13:25] tobiasflohre commented on #110
I examined it a little bit, and in my case it's related to input tags in a form. If I have one input tag, I get Model level is != 0 (1), if I have two input tags, I get Model level is != 0 (2) and so on.

[2016-05-30 19:53] robvanderboom commented on #68
My upgrade to 3.0 does go without issues, one is solved now in the thymeleaf attribute extra lib (version 2.0.1). Now in my current project the <head> contents disappears because of the layout:decorator. Below a part of the code that is working in version thymeleaf 2 ?
WHen i remove the layout:decorator my <head> is in the result of the page.
But with the layout:decorator the result is <head></hea

[2016-05-31 00:27] karunadheera commented on #110
In my case it was not input tags. My parent layout looks like below and the reason was I had this 'meta' tag. When I replaced <meta ...></meta> with <meta ... /> then problem stopped. And also the same happened for <link></link> tags.

`<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta content="text/html;charset=ut

[2016-05-31 06:32] robvanderboom commented on #68
And as addon to above:  is this the right place for my problem or should i crreate a new issue for this ?  In my opinion it is a Or a bug Or a missing migration step in the "3  minutes guides". This sinces the migration guides steps are all followed and it is working in thymeleaf 2 (this construction is used througout the production website). So if it is not a bug of the layout dialect lib, it sho

[2016-05-31 08:37] ultraq commented on #110
OK, thanks for the hints @karunadheera, @tobiasflohre.  I'll see how those kinds of elements are messing things up.

[2016-05-31 08:58] ultraq commented on #68
Hi @robvanderboom, I was just about to ask that you open another issue for this, so please do 😃

[2016-05-31 21:43] robvanderboom opened #111 "Layout-dialect migration issues (thymeleaf 2->3, layout-dialect 2.0-snapshot)"
Hi,
i am a developer and trying to migrate an existing fully working website from thymeleaf 2 to thymeleaf 3 including the layout-dialect.  After a bugfix in the thymeleaf-data-extras, everthing seems to work except the styling of the website. After some research it looks that the layout:decorator causes the issue that the content of the head-tag within the home.html (main template) page is always

[2016-05-31 21:48] robvanderboom commented on #68
Thanks @ultraq,  i did:  https://github.com/ultraq/thymeleaf-layout-dialect/issues/111

[2016-05-31 23:32] retromuz commented on #111
Hi @robvanderboom, please have a look at issue [110](https://github.com/ultraq/thymeleaf-layout-dialect/issues/110).

[2016-06-01 06:24] ultraq commented on #111
@robvanderboom, if you find that @retromuz's fix works, then there's a bug in my code that doesn't handle those self-closed elements properly, and I should fix that in a future snapshot version.

[2016-06-01 06:58] robvanderboom commented on #111
Hi, no sorry the project already loses links and meta tags with />.  And i also do not get exceptions.
Wish that was the problem but unfortunately  not ;-)

[2016-06-01 08:20] robvanderboom commented on #111
Loses=closes

[2016-06-03 11:50] ultraq commented on #110
Just out of curiosity @retromuz, @tobiasflohre, but are you using the XML or HTML template mode?  I notice that you're running into the problem when specifying closing tags for elements that, in HTML, shouldn't have them.

Void elements: https://html.spec.whatwg.org/multipage/syntax.html#void-elements

[2016-06-03 11:57] tobiasflohre commented on #110
Interesting, seems that we have sort of illegal html there which works in every browser ;-). So, yes, we have closing tags for those input tags and we shouldn't have them. I'll test out if everything's fine with correct html on Monday.

[2016-06-03 18:57] Antibrumm commented on #102
If you like to implement benchmarks with the help of JMH, i have a benchmark profile implemented in one of my github projects.

Works pretty well to get an overview and was kind of easy to get it running. The project is small so could good for some hints :) take a look at the pom.xml

https://github.com/Antibrumm/jackson-antpathfilter/blob/master/pom.xml

[2016-06-04 04:25] ultraq commented on #110
Hi again, I've uploaded a new snapshot that has some tests for the issue described and a fix for it too.  I've basically ignored closing elements for HTML void elements, letting them pass through without affecting the 'model level' (kind of like how Thymeleaf does).

[2016-06-04 04:25] #110 closed

[2016-06-04 19:19] layabout opened #112 "layout:decorator can be work when the value is "layout"，but not work with "folder/layout""
I use the latest thymeleaf-layout-dialect version for thymeleaf3.0 compiled.  When i put the base layout file in base root , It will be work well. Then i create a folder, move it in, create a new file base on the layout template,change layout:decorator="layout"  to  layout:decorator="folder/layout", so i found it not work any more...   the excepiton is :
``
Caused by:
org.thymeleaf.exceptions.Temp

[2016-06-04 22:33] ultraq commented on #112
Hi @layabout, the exception you've come across is similar to one found by others in the big 'upgrading to support Thymeleaf 3' issue over here (https://github.com/ultraq/thymeleaf-layout-dialect/issues/68) in that the layout dialect is trying to execute `folder/layout` as a (division) expression, but you can't divide "folder" by "layout", hence the exception 😛

The devs there have found that surro

[2016-06-04 23:26] layabout commented on #112
Wow Thanks, That's Very Helpful!

[2016-06-05 15:20] #112 closed

[2016-06-06 10:17] bkontur commented on #68
when this new-release-for-thymeleaf-3 will be released ?
thx

[2016-06-06 10:25] ptahchiev commented on #68
It would be nice to have this in spring-boot 1.4 (which is scheduled to come some time around 20th of June). And I know for sure the spring-boot team is depending on this layout dialect.

https://github.com/spring-projects/spring-boot/issues/4393

[2016-06-06 12:02] bkontur commented on #112
I am trying to migrate old projocet from thymeleaf2.1 to thymeleaf3,
and using thymeleaf-layout-dialect (version 1.2.7 -> now, changed to 2.0.0-SNAPSHOT),
I am trying not to change any html (lots of htmls) - unless its needed...

I have templateAlias, which was registered to SpringTemplateEngine, like:
`put("commonContainer", "extra/common/container/common");`

I have my html, lets extra/common/da

[2016-06-10 08:02] SnakeSVx commented on #109
If you are using thymeleaf 2.1 or higher you could also use comments around the tags you don't want included in the output. If you have multiple lines this is usualy easier then putting th:remove="tag" everywere.

http://www.thymeleaf.org/whatsnew21.html#pocb (Prototype-only comment blocks).

[2016-06-10 10:32] makigumo opened #113 "2.0.0 possible regression: HtmlHeadDecorator now requires a source <head/>"
Previously it would be ok to completely omit an (empty) `<head>` element in e.g.:

[code]

In the latest snapshots this fails with the following exception.

[code]

This regression was probably introduced with commit 336754f. A quick look shows that there is no check for `null` in `sourceHeadModel`, which is provided by the `sourceDocumentModel.findModel(headModelFinder)` call in [`HtmlDocumentDec

[2016-06-11 05:06] ultraq commented on #113
Hi @makigumo, as you've noticed, this is a regression in the the 2.0.0-SNAPSHOT and I can tell you now that those specific tests are off because I know it doesn't work! 😝

I do aim to have this resolved before a proper 2.0.0 release, but I'll keep this issue open so that you can be notified when this particular issue is available in a snapshot version for you to pick up.

[2016-06-16 17:38] opensource21 opened #114 "Version 1.3.3 breaks compatibility with Thymeleaf"
After upgrading from 1.2.9 to 1.3.3 `th:include` from the standard thymeleaf doesn't work as expected. The most bad part on this is that there are no exceptions or warnings. The content is just missing.
See http://stackoverflow.com/questions/37864881/thymeleaf-thinclude-doesnt-work-after-update-to-spring-boot-1-3 for Details.

[2016-06-18 01:58] ultraq commented on #114
Odd, looks like something done for processing of the `<title>` element is getting in the way of all the other directives.  That SO post looks like it's enough to create a test from, so I'll get around to doing that and seeing what the problem might be.

[2016-06-18 04:30] ultraq commented on #113
I've made some updates that should help this issue, restored all the relevant tests, made another fix or 2, and the tests seem to be passing! :)  I've uploaded a new `2.0.0-SNAPSHOT` with these fixes, so that should be this regression bug squashed.

[2016-06-18 04:30] #113 closed

[2016-06-18 04:32] ultraq commented on #109
Looks like there are a few solutions you can use with plain old Thymeleaf, therefore I'll close this issue and not add anything to the layout dialect for it.

[2016-06-18 04:32] #109 closed

[2016-06-20 18:26] mirackle-spb commented on #110
Your lastest commits were restored this BUG.
Code is not changed durning holydays, just updated to new snapshot today.

`org.thymeleaf.exceptions.TemplateInputException: An error happened during template parsing (template: "ServletContext resource [/WEB-INF/templates/secure/programmList.html]")
	at org.thymeleaf.templateparser.markup.AbstractMarkupTemplateParser.parse(AbstractMarkupTemplateParser.

[2016-06-21 09:30] ultraq commented on #110
Hmm, darn.  Well, first thing to check: does your template contain HTML void elements?  Are you also able to create a minimum template that can recreate this problem?

I've had a look and the commits originally associated with this issue, and that code still seems to be there, so I didn't accidentally revert that.  I'll look through other recent commits to see if there's anything there that might

[2016-06-21 09:31] mirackle-spb commented on #110
I have already found mistake in template. Sorry!

[2016-06-21 09:32] ultraq commented on #110
Oh, good to hear then! 😃

[2016-06-22 09:11] ultraq opened #115 "Use GitBook for docs"
The readme file is getting massive, and now with having to write a migration guide as well... I think it's time I got a more flexible documentation solution.

[GitBook](https://github.com/GitbookIO/gitbook) seems nice, and it's what projects like redux use for their docs, so I think I should give that a shot.  This should be hosted on this project's `gh-pages` branch, not the GitBook website.

[2016-06-22 10:03] ultraq opened #116 "Write a migration guide for 1.x -> 2.x"
Everything I've found so far should be backwards compatible with existing templates that had the layout dialect, but I'll want to encourage some things to change because, like Thymeleaf, I've got some backwards compatibility tricks happening that I'd eventually want to remove.

[2016-06-22 10:15] ultraq commented on #112
I've ended-up introducing a little backwards compatibility code, just like Thymeleaf has done, for anything that accepts a fragment expression (eg: any one of the `decorator`, `include`, `replace`, and `insert` processors).  So `folder/template` should start working again without having to wrap things in single quotes.

[2016-06-22 10:31] ultraq commented on #68
The 2.0 snapshot now has feature parity with the latest of the 1.x branch! 😀

There's still a bit of work to be done, namely: a few edge case tests that I've accumulated during the 1.x lifetime (some devs using the layout dialect in ways I never thought of!), bugs/regressions that people have brought forward during their testing of the 2.0 snapshots, and a decent amount of documentation to update.

[2016-06-22 10:31] #68 closed

[2016-06-22 11:26] JeonGyungMin opened #117 "GroupStrategy with thymeleaf 3.0 not working?"
hi.

thymeleaf 3.0 with thymeleaf-layout-dialect is not working.

Configuation Code

    @Autowired
    private ApplicationContext applicationContext;

    @Bean
    public GroupingStrategy groupingStrategy() {
        return new GroupingStrategy();
    }
    @Bean
    public SpringResourceTemplateResolver templateResolver() {
        SpringResourceTemplateResolver templateResolver = new SpringRes

[2016-06-22 11:29] zhanhb commented on #117
thymeleaf-layout-dialect 2.0 not released yet. Current thymeleaf-layout-dialect supports only thymeleaf 2.1.

[2016-06-22 11:39] JeonGyungMin commented on #117
thanks for your quick reply

[2016-06-22 11:39] #117 closed

[2016-06-26 10:12] ultraq commented on #95
So I've incorrectly repurposed the word "decorator" throughout the layout dialect, most problematically in the `title-pattern` processor as one of the replacement tokens, `$DECORATOR_TITLE`.  The value that token represents is the parent/layout page, so that also needs to be renamed appropriately as `$LAYOUT_TITLE`, with the old value as a deprecated fallback to remove in future versions.

[2016-06-26 11:18] ultraq commented on #95
Done.  Also added an alias processor that just logs a deprecation warning to maintain backwards compatibility with migrating templates.  Same done for the title pattern token, with a warning emitted when `$DECORATOR_TITLE` is used.  Both logs direct developers to the updated decorator/token, with a link to this GitHub issue too.

[2016-06-26 11:18] #95 closed

[2016-06-26 11:39] ultraq commented on #107
`layout:insert` already added, and `layout:include` already marked as deprecated.

[2016-06-26 11:40] #107 closed

[2016-06-27 12:06] ultraq commented on #101
Am currently simplifying tests as I go.  Still a few disabled, so am waiting to clear those first.

[2016-07-04 07:26] gochev commented on #111
is the snapshot version available on some maven repo ? dont see it on jitpack.io.

[2016-07-04 07:27] zhanhb commented on #111
http://oss.sonatype.org/content/repositories/snapshots

[2016-07-04 08:53] ultraq commented on #111
Hi @robvanderboom, sorry for taking so long to get back to you.  I've recently finished getting the latest 2.0 snapshot feature-complete and in the process got through more tests and use cases that the layout dialect is supposed to do, including the one you've raised the issue about re: losing elements in the `<head>` section of your template.

Have you tried the latest snapshot to see if it helps

[2016-07-04 09:48] #101 closed

[2016-07-07 10:03] ultraq commented on #115
Under way for the migration guide, and using it as an opportunity to update all docs for the new version.

[2016-07-07 11:27] ultraq commented on #115
It's alive! https://ultraq.github.io/thymeleaf-layout-dialect/  Still needs a bit of work, plus the groovydocs.

[2016-07-07 11:28] ultraq commented on #116
https://ultraq.github.io/thymeleaf-layout-dialect/MigrationGuide.html

[2016-07-07 11:28] #116 closed

[2016-07-09 05:15] #115 closed

[2016-07-09 05:26] ultraq commented on #102
Hey @Antibrumm, sorry to take so long getting back to you, but just getting layout dialect updated for Thymeleaf 3 has been keeping me busy!

Anyway, I don't know anything about JMH (I had to Google it and do some reading), but how has it been helping you and your project?

[2016-07-12 09:05] AlexKovalevich opened #120 "Null pointer in layout:insert/include if no selector (:: element) is specified"
When using old style references like: layout:include="/content/header.html" or layout:include="~{/content/header.html}" or layout:insert - then null pointer exception gets thrown.

This is because fragmentExpression.fragmentSelector in TemplateModelFinder.groovy:74 is null if no selector is specified. If selector is specified like layout:insert="~{/content/header.html :: **html**}" then framework

[2016-07-12 09:10] ultraq commented on #120
Thanks for the bug report!  I actually don't have any tests around including entire templates for the insert/include/replace processors, so this is a good find.

[2016-07-12 11:06] AlexKovalevich opened #121 "Decorator doesn't seem to work properly if decorating more then two layers (cascades > 2)"
Based on previous thymeleaf and layout dialect I designed view that consists from 3-4 layers.

mainLayout.htm

[code]
On the second layer I have 3 different layouts as site has 3 different content types.
One o them is businessLayout.html
[code]
On the 3rd level it could be actual page like:
abouUs.html
[code]

This structure worked perfectly fine.
After updating to 2.0.0 those templates get render

[2016-07-12 11:28] ultraq commented on #121
Multi-level layouts is something I struggled with just before the release - I did manage to get it going for one existing test but not another, but I didn't want to let that stop the release.

Now that I've worked w/ Thymeleaf 3 a bit more, I think I have some idea of what I need to do to get this working again.  I think the 'automatically remove attribute processors' feature that Thymeleaf 3.0 ad

[2016-07-12 11:54] ultraq commented on #120
I've uploaded a `2.0.1-SNAPSHOT` version of the layout dialect with a fix for this in it.  If you could give it a try and let me know if that helps with this issue, that'd be appreciated.

[2016-07-12 14:55] tobiasflohre opened #122 "Possible Memory Leak"
We did some performance tests and stumbled over a memory leak. If you take a look at the following file, you see that there are Thymeleaf objects held by a Groovy map, and there's no other Groovy in our application than the layout dialect.
[Leak Suspects.pdf](https://github.com/ultraq/thymeleaf-layout-dialect/files/359576/Leak.Suspects.pdf)

I've looked into your code and have one assumption: Ther

[2016-07-12 15:23] zhanhb commented on #122
Maybe ChildEventIterator line 70, ChildModelIterator line 68,70, IModelExtensions line 180,203,204 was to blame. These codes will create ExpandoMetaClass instance.

Can you help to test my artifact? I am trying to rewrite the dialect in java.
com.github.zhanhb:thymeleaf-layout-dialect

[2016-07-12 15:25] tobiasflohre commented on #122
@ultraq Hm, when I look into the code of FragmentMap again: you just add the FragmentMap to each IContext, so if the IContext object is garbage collected like it should, there should be no problem. However, the problem exists - tell us if we can help identifying the root cause. There must be some Groovy map holding objects too long.

[2016-07-12 15:31] AlexKovalevich commented on #120
Sorry I couldn't figure out where to download 2.0.1-SNAPSHOT, so I built it from trunk and so far all looks good.
Thank you for quick turnaround !

[2016-07-12 20:07] ultraq commented on #120
You raised the issue and caught me at a good time 😁

If you're using Maven, then the Thymeleaf website has a bit in the FAQ about getting snapshot versions: http://www.thymeleaf.org/faq.html#use-snapshot  (There's no section like that for Gradle, so that might make a good addition to the docs.) Otherwise, recompiling from source like what you've done is a really good option.

Now, on to the other

[2016-07-12 20:07] #120 closed

[2016-07-12 20:20] ultraq commented on #122
Thanks for the analysis @tobiasflohre!  I've got a YourKit license lying around here somewhere so it should show me the same things you've discovered once I turn it back on.  I'll keep a look out for those objects you've identified in particular.

[2016-07-13 11:44] ultraq commented on #122
Hey @tobiasflohre, that heap dump might be a good idea, although I'm not sure how to transfer something of that size around.  Ideas?

I'm currently trying to generate a lot of load on a test site, so it might be a while before I can see things at the same magnitude as in the PDF you've shared.

[2016-07-13 12:09] tobiasflohre commented on #122
You got mail!

[2016-07-13 13:17] AlexKovalevich commented on #120
Thank you for explaining it, Emanuel! It would take me for a while to figure it out myself :)
For those who is interested the direct URL is: https://oss.sonatype.org/content/repositories/snapshots/nz/net/ultraq/thymeleaf/thymeleaf-layout-dialect/

[2016-07-13 16:27] zhanhb commented on #122
Groovy is slower than java and takes more memory consumption. Add annotation CompileStatic can make that better.

[2016-07-14 06:52] AlexKovalevich commented on #121
Kinda fixed !?

Well, after playing with it for a while I found the following:
If I change constructor in DecorateProcessor from
`super(templateMode, dialectPrefix, null, false, attributeName, true, PROCESSOR_PRECEDENCE, **true**)`
to
`super(templateMode, dialectPrefix, null, false, attributeName, true, PROCESSOR_PRECEDENCE, **false**)`

then AbstractElementModelProcessor skips this section

[code

[2016-07-14 07:00] AlexKovalevich opened #123 "Self closing tags break layout"
Please note, I noticed it after I changed DecorateProcessor to fix #121

Not sure if it's reproducible as is, but assuming that issue #121 will be fixed (cause it's a really major thing) it may cause the behavior mentioned below:

So the issue is when I have structure like this:

`
<html>
  <div class="a" />
  <div class="b" >Some B staff</div>
  <div class="c" />
<html>
`

It gets rendered like t

[2016-07-14 08:21] AlexKovalevich opened #124 "Excessive Warn logging info about compatibility"
This is just a minor suggestion about loggin:

When running on old code (thymeleaf 2.x.x + thymeleaf layout dialect 1.x.x) thymeleaf layout dialect 2.0.0 logs lots of repetitive information at warn level like
`WARN  n.n.u.t.fragments.FragmentProcessor - You don't need to put the layout:fragment/data-layout-fragment attribute into the <head> section - the decoration process will automatically copy

[2016-07-14 11:56] tobiasflohre commented on #122
It's Tomcat 7.0.37 and Java 1.7.0_72. Thanks for the efforts.

[2016-07-14 12:40] ultraq commented on #102
See some of the comments on the thread about a potential memory leak: https://github.com/ultraq/thymeleaf-layout-dialect/issues/122  `ExpandoMetaClass` came up as a memory dominator (due to my reliance on Groovy's metaprogramming features to make life much simpler for me) but it might be good to cut back on them

[2016-07-14 19:29] AlexKovalevich commented on #123
I think I was completely wrong on this one.
Server renders correct html. It's browser that doesn't understand self closed not void elements in html5. It looks like because thymeleaf 3 removed xhtml support it produces xhtml which is not always valid as html5.

Closing it.

[2016-07-14 19:29] #123 closed

[2016-07-15 12:05] tobiasflohre commented on #122
We've looked into this a little bit further, and we also see that each object is held by one weak and one soft reference. The soft reference is only garbage collected when the JVM is running out of memory, and because there's a weak AND a soft reference to the objects, all objects are only garbage collected when the JVM is running out of memory. We saw that memory consumption is going up through t

[2016-07-16 07:00] ultraq commented on #122
*Warning, long and rambly paragraph, mainly for my own benefit if I need to come back to this in future...*

At first I was first going to try removing some closures that *seemed* responsible for the soft/weak references we've seen (our tools always showed layout dialect closures that had any kind of reference to a static as somewhere between the GC root and the large objects in memory), but I did

[2016-07-16 07:11] ultraq commented on #124
Thanks for the suggestions @AlexKovalevich 👍

I think I'd like to do like the other libraries do and generate a single warning once during initialization.  The layout dialect doesn't really know what incompatibilities there are until it hits them, so maybe I could set a static flag on the relevant classes to say that the incompatibility has been logged and then never log it again once set.  It's c

[2016-07-16 11:26] ultraq commented on #121
After messing around with things, the fix turned out to be really simple.  I changed the 'auto remove processor' flag from `true` to `false` just like you did, and then all I had to do was fix the code for making sure that the `layout:decorate`/`data-layout-decorate` processor was in the root, or in this case making sure that every processed element in the stack has a decorate processor.  You can

[2016-07-17 06:11] tobiasflohre commented on #122
I will give it a try Monday morning!

[2016-07-18 03:44] AlexKovalevich commented on #121
Tested with snapshot thymeleaf-layout-dialect-2.0.1-20160717.014735-4.pom - everything looks awesome! I don't see any functional issues at all.

[2016-07-18 09:45] ultraq commented on #121
Good to hear! 😀

[2016-07-18 09:45] #121 closed

[2016-07-18 12:33] ultraq commented on #124
Logging of warnings reduced to just the first time the relevant item was encountered.

[2016-07-18 12:33] #124 closed

[2016-07-18 13:23] tobiasflohre commented on #122
It's much better now, in first tests we couldn't crash the JVM anymore. So whatever you did, it's an improvement, though there's still a lot going on in the heap.
We noticed that the soft references are coming from a ThreadManagedMetaBeanProperty to Model classes:
![2016_07_18_13_05_41_eclipse_memory_analyzer](https://cloud.githubusercontent.com/assets/1804555/16915789/c48623f4-4cf9-11e6-9f8d-e6fc

[2016-07-19 06:05] Antibrumm commented on #102
I did not use it in an extreme way (yet), as the library is not meant to be a high throughput piece of work at the moment. But for playing around with different possibilities of optimizations I found JMH quite helpful as the usage is very easy. Similiar to JUnit, all you have to do is place some annotations like in the code piece below and JMH takes care of the warmup phase and all the other stuff

[2016-07-19 08:06] ultraq commented on #122
Good to hear it improved 👍  The tests I ran were just using the `decorate` processor over a very basic template with a lot of threads and iterations to exaggerate any problems, but for my own sake I'll do the same with the `include`/`insert`/`replace` processors to see if I can make additional improvements there too.

I'll close this issue, but I'll keep on working on memory improvements as part o

[2016-07-19 08:06] #122 closed

[2016-07-19 10:24] ultraq commented on #122
Under the hood of Java, anything goes!

Just an FYI: I completed the `include`/`replace`/`insert` tests and found that `include` was also inefficient and managed to make some improvements there with gains similar to what I did for `decorate` (`insert`/`replace` are still miles better though since Thymeleaf 3 has better built-in support for what they do which I just take advantage of).  This will a

[2016-07-20 21:24] cja769 opened #125 "layout:decorator attribute in version 2.0.0 isn't removed during processing"
Even though the migration notes say that the `layout:decorator` attribute should work in the new 2.0.0 release I found that it does not. It seems that the reason is this piece of code in `DecorateProcessor.doProcess`:
[code]
`PROCESSOR_NAME` is set in `DecorateProcessor` as `decorate` and `PROCESSOR_NAME` is set in `DecoratorProcessor` as `decorator` but `DecoratorProcessor` uses `super.doProcess`

[2016-07-20 21:59] cja769 commented on #125
Closing issue because this is fixed by commit f38e066006af1836cb21e506623c0247dac031c5

[2016-07-20 21:59] #125 closed

[2016-07-20 22:58] ultraq commented on #125
FYI, that fix/commit will be a part of 2.0.1, which is available in a SNAPSHOT form right now, but I'm also aiming to get a proper 2.0.1 release done before this week is over.

[2016-07-22 03:18] zhanhb opened #126 "VariableDeclarationMerger performs different behaviors as org.thymeleaf.standard.expression.AssignationUtils"
If both the layout and the input have attribute th:with="value='hello, world!'", the merger can raise an IllegalArgumentException

[2016-07-23 04:47] zhanhb commented on #126
This issue was moved to zhanhb/thymeleaf-layout-dialect#4

[2016-07-23 23:08] ultraq commented on #126
Ah yep, I think I'm doing something like `String.split` on the `,`, which will cause this to be a problem.

[2016-07-24 01:28] zhanhb opened #127 "IllegalArgumentException layout:decorate/data-layout-decorate must appear in the root element of your template"
It's available with 1.4.0

[code]

[2016-07-24 02:54] ultraq commented on #127
This one might be hard to fix as is because I  Thymeleaf 3.0 I'm using the `context.elementStack` to tell me what has come before.  I could maybe assume that the `<html>` element is a template root, but the  thus will fail for partial templates like those starting with `<p>` like in the example for partial templates in the docs.

Will need to give this section thought.

[2016-07-24 11:30] ultraq commented on #103
Done, but I need to figure out a way to test this...

[2016-07-26 07:42] cschockaert commented on #122
Just an FYI, we runned into this problem and even if it's a weak + soft reference, our servers constantly crashed after few day.
Here is a memory dump graph  (generated by that interpreter http://dr-brenschede.de/bheapsampler_bin/README.txt) just before the crash.
[memory_graph.pdf](https://github.com/ultraq/thymeleaf-layout-dialect/files/383283/memory_graph.pdf)

it's showing that the memory leak

[2016-07-26 08:49] ultraq commented on #122
I hope 2.0.1 squashes those memory problems too @cschockaert !

[2016-07-27 14:48] ochsA opened #128 "Missing ExpressionProcessor"
With 2.0.1 i got the Exception java.lang.NoClassDefFoundError: nz/net/ultraq/thymeleaf/expressions/ExpressionProcessor
at nz.net.ultraq.thymeleaf.decorators.DecorateProcessor.doProcess(DecorateProcessor.groovy:110)

and the class misses in my distribution.. what's wrong?

[2016-07-27 17:05] ddelamotte commented on #128
You forgot to include the additonal JAR for expressions added since 2.0.1

Le 27 juil. 2016 ? 16:49, ochsA <notifications@github.com<mailto:notifications@github.com>> a ?crit :

With 2.0.1 i got the Exception java.lang.NoClassDefFoundError: nz/net/ultraq/thymeleaf/expressions/ExpressionProcessor
at nz.net.ultraq.thymeleaf.decorators.DecorateProcessor.doProcess(DecorateProcessor.groovy:110)

and th

[2016-07-27 17:54] ddelamotte commented on #128
Add this to your dependencies
<dependency>
    <groupId>nz.net.ultraq.thymeleaf</groupId>
    <artifactId>thymeleaf-expression-processor</artifactId>
    <version>1.1.1</version>
</dependency>

[2016-07-27 20:23] ultraq commented on #128
This dependency is already a part of the layout dialect (see: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/build.gradle#L50, or the generated POM on Maven: https://repo1.maven.org/maven2/nz/net/ultraq/thymeleaf/thymeleaf-layout-dialect/2.0.1/thymeleaf-layout-dialect-2.0.1.pom) so should be downloaded/installed by your build tools when they're run.

If you opted to download the la

[2016-07-27 20:48] ultraq commented on #128
If you are in some weird state where that dependency isn't being downloaded (which it sounds like), then doing as @ddelamotte suggested and adding the dependency yourself might be one way to kick your build tools in the guts to download it, but you shouldn't have to do that.  I might suggest performing cleans/refreshes of your build tool's cache(s) to make sure it's getting everything right.

[2016-07-28 10:10] ochsA commented on #128
Thanks worked fine!

[2016-07-28 10:10] #128 closed

[2016-08-10 23:05] jchafik opened #129 "ArrayIndexOutOfBoundsException"
The following results in an ArrayIndexOutOfBoundsException. The modelLevel is incorrectly being decreased to -1.

index.html
[code]

default.html
[code]

Exception
[code]

[2016-08-17 13:09] Stummi opened #130 "layout:decorator does not work correclty over multiple layers anymore"
while upgrading thymeleaf to 3 and thymeleaf-layout-dialect within a spring boot application, I noticed that templates behaves differently with multiple decorator layers. The merging logic also behaves different between 2.0.0 and 2.0.1, but both does not resemble the behavior from 1.4, which I think is a bug.

Heres a simple test case with 3 layout files:
layout1.html:
[code]

layout2.html:
[code]

[2016-08-18 06:37] ultraq commented on #130
Yeah, that definitely looks wrong.  Thanks for the bug report, and the test case PR you've just submitted 😃

Can you describe in what way the body merging is also incorrect?

[2016-08-18 07:19] Stummi commented on #130
Ah, nevermind the body part. While trying to build another test case it turned out to be a usage error on my site. Sorry for the confusion

[2016-08-19 05:57] elninos opened #132 "multiple variable assignments over multiple lines"
Hi, I am a developer migrating thymeleaf 2 to thymeleaf 3.

I am declaring multiple variables within th:with tag.
For sake of readability, I declared them over several lines while still being separated by commas.

While it fails to parse them with the error message below, it works fine on thymeleaf2 or all variables declared on the same line with massive width:(

Is this intended behavior or a bug

[2016-08-19 09:23] #132 closed

[2016-08-19 09:23] elninos commented on #132
false negative.

[2016-08-31 10:55] ultraq commented on #129
Hi there @jchafik, I've had a look at this bug and what I'm seeing is additional tags inserted by Thymeleaf when processing your example template, notably an empty `IClosingTagElement` after the `<p>` and immediately before the `<div>`.

I think it's because the HTML spec says that a `<p>` end tag can be omitted if it is immediately followed by a `div` (see: https://html.spec.whatwg.org/multipage/

[2016-08-31 15:20] jchafik commented on #129
Thanks for the reply!

I can definitely work around that, but wouldn't you think this would still be an issue? From my understanding of the spec, omission of the end tag under these circumstances is technically acceptable, although not necessarily preferable.

The original HTML is balanced, it's the additional (I would think erroneous) insertion that makes it unbalanced. My thought would be that w

[2016-09-01 06:02] ultraq commented on #129
Well that's interesting!  The additional closing tag comes from Thymeleaf itself, before the layout dialect processors even get to insert the fragment into the place it's needed.  Maybe I'll give a few more things a try, like the XHTML processing mode and see if different rules apply.

Something else that comes to mind that I do differently from Thymeleaf is that all my processors are "model" proc

[2016-09-08 20:18] jchafik commented on #129
Of course. Where did you upload the snapshot to? I don't see an associated commit or branch here that I can pull down.

[2016-09-08 22:52] ultraq commented on #129
Oh, I uploaded one to the Maven snapshots repository, so if you use Maven you can do that, or download the built file from said snapshots repository: https://oss.sonatype.org/content/repositories/snapshots/nz/net/ultraq/thymeleaf/thymeleaf-layout-dialect/2.0.2-SNAPSHOT/

Otherwise, if you want a build branch I can push that up later today.

[2016-09-10 05:59] ultraq commented on #129
I've just pushed the branch `issues/model-level` if you need that to try the change out.

[2016-09-10 07:01] ultraq commented on #130
Hi @Stummi, I've got a fix for the test case you modified and uploaded a `2.0.2-SNAPSHOT` version of the layout dialect to Maven.  Could you give it a try to see if it works for you?

Also, because this fixed the merging of the `<head>` section, I had to make a further fix to how titles were handled in multi-level layouts (now that they were being correctly included) so that it continued to work w

[2016-09-10 07:02] ultraq commented on #111
Haven't heard back from the OP in a while 😢  Closing.

[2016-09-10 07:02] #111 closed

[2016-09-10 22:59] jchafik commented on #129
I tested with the 2.0.2-20160905.094158-1 snapshot from the sonatype repository and everything appears to be working correctly. Thank you :)

[2016-09-11 00:12] ultraq commented on #129
Awesome! 😃  I'll be releasing 2.0.2 in a few days, hopefully as soon as the dev for the other issue I'm working on gets back and says things are all good there too.

[2016-09-11 00:12] #129 closed

[2016-09-12 13:45] Stummi commented on #130
Hello,

just tried the new version of the artifact and both, merging of script tags and the title handling works as expected for me. Thanks for the update.

[2016-09-12 21:43] ultraq commented on #130
Good to hear! 👍  At the moment it looks like I'll get around to creating a proper 2.0.2 release this weekend, which includes this fix.

[2016-09-12 21:43] #130 closed

[2016-09-14 16:21] tanyona opened #133 "th:switch with title tag doesn't work"
I'm trying to set a dynamic page title depending on the value of a model attribute (same page is used for add and edit functions).

Sample **layout.html**
[code]

Sample **test.html**
[code]

Sample **Controller.java**
[code]

The effect is that the page title when navigating to /test is always **Test - adding** i.e. the first case statement is always picked even when the action passed is "edit".

[2016-09-16 23:20] jefffischer commented on #98
I know this thread is closed, but I thought I would mention our results for what it's worth. All else equal in our project using Thymeleaf 3, we see a 30% performance increase loading a test page using the fork of the ultraq dialect at https://github.com/zhanhb/thymeleaf-layout-dialect. Removing the dialect altogether, we see a 44% performance increase for the same test.

JMeter results attached f

[2016-09-17 05:59] ultraq commented on #98
Yeah, @zhanhb has been pretty on to it, and if you're looking for a Java-only fork then that is the one I would recommend 👍

[2016-09-17 06:07] ultraq commented on #133
Hi @tanyona, you're not doing anything wrong there.  When performing the decoration process, the layout dialect searches for the first `title` tag and tries to extract the value of it, either from a `th:text` attribute or the text within the opening and closing tags, and then saves that as the title for that page.  Because of that, your switch statement doesn't get the chance to influence the resu

[2016-09-17 07:18] #103 closed

[2016-09-17 12:49] ultraq opened #134 "Swap dialect prefix memoization in favour of putting result on the context"
Version 2.0.2 included a fix for #103 which used memoization to store the value of the requested dialect prefix so that it could be retrieved faster the next time it was called.  However, this led to an increase in the memory profile of the faux load test because memoization of the Thymeleaf context on a static method led to it holding on to a lot of context instances.

The memoized method should

[2016-09-17 16:04] tanyona commented on #133
Thanks for the clarification. The code you provided will suite my needs..

[2016-09-17 16:06] #133 closed

[2016-09-18 10:17] #134 closed

[2016-09-23 04:06] dongwenting opened #135 "how to use data-layout-insert"
I use thymeleaf-layout-dialect 2.0, and I add this to the layout html's body, but the result is empty.
how to add content html' title to the result html? thx~~~

[code]

[2016-09-24 09:35] ultraq commented on #135
When using a fragment expression with the layout dialect, it looks for instances of `layout:fragment` to match on, so your fragment expression of `::title` will look for `layout:fragment="title"` rather than the HTML `<title>` element.

I'll have to double-check against Thymeleaf to see what it would do for such a fragment expression, but if you're after the title that the page will have as the re

[2016-09-26 02:18] dongwenting commented on #135
Thank you for your answer. I add this to layout html, it works.
      <span th:text="${layout.resultingTitle}"> </span>

but I don't need the whole result title, just the content's title.

     Content.html
     <head>
              	<title layout:fragment=“title”> content title </title>
     </head>

      Layout.html
     <head>
              	<title layout:title-pattern="$LAYOUT_TITLE - $CONTEN

[2016-09-26 05:18] ultraq commented on #135
Hmm, how about if you tried using the standard `th:insert`/`data-th-insert` instead of `layout:insert`?

If that doesn't work, then I may need to expand the layout dialect to include the separate parts of the title, content and layout, as well as the result.

[2016-09-26 17:48] billyboingo opened #136 "Localized title in decorator not picked up by title-pattern"
Thymeleaf: 3.0.1.RELEASE
Dialect: 2.0.3

I have the following in my decorator:

[code]
and the follwing in my content page:
[code]

But, for instance, instead of getting the following for Spanish:
`<title>Casa | Mi Lugar</title>`

I get this:
`<title>Home | Layout</title>`

It would seem that the pattern is processed before the th:utext is parsed...

[2016-09-26 17:57] billyboingo commented on #136
As a followup:

If I use th:text instead, it works fine.  Interesting.

[2016-09-27 08:36] ultraq commented on #136
Ah, I don't look for uses of `th:utext` in dynamic title creation, just `th:text`.  Looks like that's a gap that needs to be filled!

[2016-09-28 10:03] ultraq commented on #136
Hi @billyboingo, I've uploaded a `2.0.4-SNAPSHOT` version to the Maven snapshots repository which contains a fix to include `th:utext`/`data-th-utext` when looking for titles to use in the title pattern.  Could you give that version a test to see if it works for you?

[2016-09-29 16:33] billyboingo commented on #136
Hi @ultraq.  Thanks for the quick response.
From my initial testing, this seems to have done the trick.  Thanks!

[2016-09-29 16:33] #136 closed

[2016-10-01 09:59] ultraq opened #137 "Reveal more title items on the layout context"
Currently the layout context only contains the resulting title.  It'll be nice to include the other parts too, like the content and layout title(s).

[2016-10-01 10:34] ultraq commented on #137
This might also go some way to fixing the TODO here: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Source/nz/net/ultraq/thymeleaf/decorators/html/HtmlTitleDecorator.groovy#L88-L92

[2016-10-14 06:49] ultraq opened #138 "Model level issue in the <head> section with certain script combinations"
From this post in the Thymeleaf forums: http://forum.thymeleaf.org/Cannot-set-containing-close-tag-to-skip-when-model-level-is-zero-td4029994.html

Looks like another model level problem, but this time coming out of the processing Thymeleaf is doing with all the handlebars scripts as per Marc's comments.

The last model level bug (#129) was fixed by using a tag processor instead of a model process

[2016-10-17 10:08] gheylen opened #139 "Memory leak: ExpandoMetaClass' retaining old gen heap with weakrefs"
# Context:
In-development news site for biggest Belgian brand using Thymeleaf + this decorator provided and suggested by Spring Boot.

# Problem statement:
Old-gen heap is overrun by Groovy - classes from this decorator.

![acc_with_thymeleaf_layoutdialect_2 0 4_throughput_130s_markup_github](https://cloud.githubusercontent.com/assets/3791719/19433415/df388e22-9460-11e6-9b42-85478df2217d.png)

![a

[2016-10-17 10:14] ultraq commented on #102
Have removed more uses of dynamic objects/classes as a follow-through of #122, taken to the extreme, and have found ridiculous performance gains O_o  Was gonna post some of them here but someone just raised this exact issue, so I'll post more there.

[2016-10-17 10:46] ultraq commented on #139
How timely - I'm working on memory and performance improvements at this very second and doing some profiling to see how it's all going 😁  I've got a general performance GitHub issue over at #102, and the first item I was tackling was the memory thing as previous issues raised and fixes made around them have shown some really good gains.

To answer your question though: yes, other people have been

[2016-10-17 16:22] gheylen commented on #139
Thanks for quick response, E.

Could you push the 2.1.0-SNAPSHOT - branch? We can't locate it. We'll put it through exactly the same stress test which gave above results.

[2016-10-17 21:14] ultraq commented on #139
Heya, I'm gonna be away from the computer that has that code for the next day (maybe it'll feel like 2 in your timezone), so can't push the source code branch 😞  I did however upload the artifact to Maven, so if you configure Maven/Gradle for snapshot repositories and pick the `2.1.0-SNAPSHOT` version, you should be able to add it to your project to test.

Alternatively, the Maven snapshot reposit

[2016-10-18 10:55] istonikula opened #140 "Support multiline fragment expressions"
Cases 1-7 below work, case 8 does not, i.e. when calling fragments that have parameters:

1. standard legacy syntax: OK
2. standard legacy syntax multiline: OK
3. standard new syntax: OK
4. standard new syntax multiline: OK
5. layout legacy syntax: OK
6. layout legacy syntax multiline: OK
7. layout new syntax: OK
8. layout new syntax multiline: NOT OK

Fragments

Cases:

Stack: http://pastebin.com

[2016-10-19 06:39] ultraq commented on #140
Thanks for the bug report!  I think I might already know what might be causing this one.  Will give it a look, hopefully it'll be a quick fix.

[2016-10-19 06:42] ultraq commented on #139
Did you manage to get the snapshot version working on your project without the source code?  Otherwise, I'm finally home and have managed to upload the in-development performance improvements to a `performance` branch which you can check out here: https://github.com/ultraq/thymeleaf-layout-dialect/tree/performance

[2016-10-19 09:32] ultraq commented on #140
I've just uploaded a 2.0.5-SNAPSHOT version of the layout dialect to Maven with a fix for this issue.  Would you be able to try it out @istonikula, see if it works for you?

[2016-10-19 13:07] gheylen commented on #139
We put the 2.1.0-SNAPSHOT through the same set of tests.

![acc_with_thymeleaf_layoutdialect_2 1 0-snapshot_throughput_170s_markup](https://cloud.githubusercontent.com/assets/3791719/19519786/a807fc86-960d-11e6-9a41-78354066a902.png)

Results above. We can see a significant improvement, which confirms your claims. Young gen, survivor, and old gen all remain stable.

[2016-10-19 13:07] #139 closed

[2016-10-19 14:17] gheylen commented on #139
Any idea when you're releasing?

[2016-10-19 16:36] istonikula commented on #140
Yes, with 2.0.5-SNAPSHOT also the case 8 works. Thanks for the quick fix.

[2016-10-19 18:41] ultraq commented on #140
👍  Awesome, I'll release the 2.0.5 version soon, there's 1 more bug fix I want to try get into it.

[2016-10-19 18:41] #140 closed

[2016-10-19 18:49] ultraq commented on #139
Woohoo!  That's good news 😀

As for when there'll be an official 2.1.0 release, that will be at least 2 weeks away - there's a 2.0.5 bug fix version I'm working on now, and several more general performance-related ideas I want to try get in as per the other GitHub issue I linked to before.  I'll be keeping the snapshot version updated with all main branch fixes, but it is still a while away.

[2016-10-22 10:36] #126 closed

[2016-10-27 08:30] #102 closed

[2016-10-28 05:37] jeongjaejin commented on #138
https://github.com/jeongjaejin/spring-boot-sample-web-thymeleaf3

spring-boot-sample-web-thymeleaf3 is spring boot's reference sample project. (modified slightly.)

Is this the same issue?

Please give me advice on how to solve this problem.

[2016-10-30 09:57] ultraq commented on #138
Looks a bit different (this issue is for the `<head>` section), but I'll see if that project might have surfaced something else.

[2016-10-31 09:35] ultraq commented on #138
Heya @jeongjaejin, I've taken a look at your sample project and I found that attoparser (the underlying HTML parsing library for Thymeleaf) has configured `<col>` elements to automatically close the parent `<colgroup>`, which then throws the whole "model level" thing off because it means there are additional closing tags where there shouldn't be!  I brought it up with Daniel and he also agrees tha

[2016-11-01 01:08] jeongjaejin commented on #138
Good! Thank you for your efforts.

[2016-11-03 09:38] ultraq commented on #82
Closing.  Nobody has really asked for this, and the additional configuration parameter makes a lot of other things more confusing.

[2016-11-03 09:38] #82 closed

[2016-11-06 02:06] ultraq commented on #102
## Final state of performance improvements between 2.0 and 2.1

I've uploaded the very basic web app that I was using for all of my memory tests since the first report of a memory leak in 2.0.0.  GitHub repo of that project can be found here: https://github.com/ultraq/thymeleaf-layout-dialect-benchmark

It does very little, only using layout dialect features so that other things that would normall

[2016-11-06 09:55] ultraq commented on #138
Haven't heard anything more from the person in the forum, but given what I've seen here and other issues, I implemented a *possible* fix for model level problems to take into account "synthetic" closing tags (tags that don't appear in the original template but that attoparser inserts into the model to balance things out) and not have it affect the model level.

While this now makes the layout dial

[2016-11-06 09:55] #138 closed

[2016-11-06 09:55] #137 closed

[2016-11-06 09:57] ultraq commented on #135
Haven't heard from you for a while @dongwenting, but I've gone and added new `layout.contentTitle` and `layout.layoutTitle` properties on the `layout` special object that contain the content and layout template titles respectively.  This is in version 2.1.0 of the layout dialect which I've just released today.

If the previous workarounds I gave haven't helped, then I hope those help in some way t

[2016-11-06 09:57] #135 closed

[2016-11-06 09:58] ultraq commented on #139
FYI, I've just released 2.1.0 today.

[2016-11-06 21:13] ultraq opened #142 "Simplify model level counting algorithm"
I've recently learned that my understanding of attoparser and all of its various flags and tags (synthetics, unmatched, standalones, etc) is way more complicated than it should be, and it kind of shows in the current implementation of the model level counting algorithm here: https://github.com/ultraq/thymeleaf-layout-dialect/blob/eacdc772ae95c0d680f4bade710a76abee9eb44e/Source/nz/net/ultraq/thymel

[2016-11-06 21:17] danielfernandez commented on #142
There are three possible scenarios for void/standalone tags:

`<input>` : 1. Standalone tag (`minimized:false`)
`<input/>`: 1. Standalone tag (`minimized:true`)
`<input></input>`: 1. Standalone tag (`minimized:false`), 2. Unmatched close tag.

So you are right, in your code you should not care about these.

[2016-11-07 14:02] tobiasflohre opened #143 "ArrayIndexOutOfBoundsException in IModelExtensions.calculateModelSize"
Hi,

when updating to 2.1.0 we got this Exception in processing a formerly working template:

[code]

There was an unclosed p tag, we closed it, and the Exception was gone, but p tags don't need to be closed. Just wanted to let you know...

[2016-11-07 17:28] ultraq commented on #143
Thanks for giving 2.1.0 a go and letting me know about this.  I know exactly what the problem is after talking w/ Daniel and raising #142.  I should have a fix for you shortly.

[2016-11-07 18:51] ultraq commented on #142
Updated algorithm: https://github.com/ultraq/thymeleaf-layout-dialect/blob/ae291d368a750d45aac1de8e0752e8a2af8f565a/Source/nz/net/ultraq/thymeleaf/models/extensions/IModelExtensions.groovy#L424-L438

[2016-11-07 18:51] #142 closed

[2016-11-07 18:56] ultraq commented on #143
`2.1.1-SNAPSHOT` uploaded with a fix for this bug.  Could you please give it a try @tobiasflohre and let me know if it works for you?

[2016-11-10 05:39] ultraq commented on #143
Hi @tobiasflohre, I'm going to go ahead and release this as 2.1.1 within the next day - I think the test I have covers a lot of the scenarios mentioned by Daniel in #142, and your non-closed `<p>` tag as well.

[2016-11-10 07:11] tobiasflohre commented on #143
Okay, sorry, I didn't have the time to test it, and I won't have it this week. So go ahead!

[2016-11-10 07:14] #143 closed

[2016-11-24 15:13] xCJPECKOVERx opened #144 "All tags within <head> are pushed inside of <title>"
When using layout:decorate all tags within <head> get put inside of the <title> tag as plain text. This includes scripts and links.
Results in a <title> such as:
<title>
Exception Logs<script>
	$( document ).ready(function() {
		$('#errorSelect').on("change", function() {
			$(this).parents('form').submit();
		});
	});
</script>
</title>

[2016-11-25 05:08] ultraq commented on #144
Heya @xCJPEKOVERx, that's a really weird bug!  To help me figure it out, would you be able to give a sample template & layout that can produce that kind of output?  Also, what versions of the layout dialect and Thymeleaf are you using?

[2016-11-25 17:07] xCJPECKOVERx commented on #144
Thymeleaf version: 3.0.2.RELEASE
LayoutDialect version: 2.1.1
I've managed to narrow down the bug to only happening when nesting layouts.
In my project I have a master (importing links and scripts), a header (decorated by master), and finally the content pages (decorated by the header).

Note: I'm also using Spring and have templateResolver, templateEngine, and viewResolver setup per Thymeleaf doc

[2016-11-28 08:49] ultraq commented on #144
Cool cool, managed to replicate it in the linked test/commit.

[2016-11-29 10:31] ultraq commented on #144
I've had a look at it and found there was something wrong with the code I had that tried to insert what Thymeleaf 3 calls "models" (eg: an opening element, everything inside it, and the matching closing element) inside elements that are closed immediately, like your `<head></head>` tags.  The code in question assumes that there's some whitespace around to duplicate (this is to create a cleaner-loo

[2016-11-29 18:17] xCJPECKOVERx commented on #144
I've tried the fix and it does work. Good stuff!

[2016-11-30 07:08] #144 closed

[2016-11-30 07:09] ultraq commented on #144
Awesome!  I've got no other bugs to fix for now, so I'll get this into a release very soon.

[2016-12-22 01:56] flashing opened #145 "Version 2.1.2 title layout:title-pattern problem"
After upgrading to thymeleaf 3.0.2 and thymeleaf-layout-dialect 2.1.2,
layout:title-pattern doen't work with expression.
This
<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE" th:inline="text">[[${@environment.getProperty('spring.application.name')}]]</title>
works with spring boot 1.4.2 thymeleaf 2.x and layout-dialiect 1.x, not complicated with latest version, I also tried $LAYOUT_

[2016-12-22 09:12] ultraq commented on #145
What are you getting instead of your expected result?  I just tried it out and it ended-up not substituting the inlined expression, which I guess is what you expected?

Looks like this might be a bug with the 2.x branch as I don't have a test for inlined expressions in titles.

Since the problem is with inlined expressions, a workaround is to put the inline expression into a `th:text` one, eg:

[c

[2016-12-22 11:26] flashing commented on #145
Yes, this is exactly what I wanted, thank you very much!
I know th:inline should be got rid of and I have tried but it didn't work properly so I post the original code here.
Thanks again for your help.

[2016-12-25 23:01] ultraq opened #146 "Implement Groovy's getAt method to use safe subscript operators on the model"
ie: this for the `IModelExtensions.groovy` class

[code]

This will allow me to access model events using the subscript operator (`[]`) returning `null` instead of the JVM throwing `ArrayIndexOutOfBoundsException`, which I can then combine with the null-safe navigation operator (`?.`) for more concise lines of code.

[2016-12-26 09:08] ultraq opened #147 "Remove the special 'layout' object from the Thymeleaf context"
This was only ever used to expose some internals to others, not really meant as part of the public API.  These internals were ever only the content title, layout title, and resulting title.

As I'm fixing #145, I've discovered that Thymeleaf 3 converts inline expressions into `<th:block>` elements, making it really *really* hard for me to have a fully-processed resulting title at the time the titl

[2016-12-27 07:47] #145 closed

[2016-12-27 07:50] ultraq commented on #145
I've uploaded a 2.2.0-SNAPSHOT version with the fix to this bug.  I've also uploaded some new tests to cover this, but if you could give that version a try with your projects, see if it works for you, then that'd be helpful too.

[2016-12-27 08:04] #147 closed

[2016-12-27 21:27] ultraq commented on #146
So I only needed this in one place, that has since been removed by the title handling changes in #145.  Everywhere else does do size checks before retrieving events, so they're all safe.  Closing since this is now unnecessary.

[2016-12-27 21:27] #146 closed

[2017-01-12 15:55] hellocomrade opened #148 "Layout ignored on Windows 7 Enterprise"
Hi,

I got a weird issue with layout dialect. The same code works perfectly on my Linux VM, but not on Windows 7 with STS 3.8.3 and Spring Boot 2.0.

Here is pom.xml

[code]

Here is the TRACE log on Windows 7:
[code]

On Linux, the same TRACE and you can tell layout is evaluated:
[code]

I have been out of my resort and hopefully, you could shed some light on this.

Many thanks!

[2017-01-12 20:55] ultraq commented on #148
Weird, in that I've never had an OS-specific issue before!  The only thing that comes to mind is that template resolution isn't working in a cross-platform manner, like the difference between paths (`/` vs `\` or `\\`, and `:` vs `;`).  From the trace I noticed that you're using classpath resolution which could potentially run into the issues I mentioned, but I would have thought that Java would s

[2017-01-12 21:45] hellocomrade commented on #148
@ultraq

Thank you for the timely reply!

I tried your suggestion of flipping the slash and no luck on that.

As for the prefix and suffix, I keep Spring Boot default.

Regarding Thymeleaf and layout dialect version, I use Spring Boot 2.0 default as well
[code]

I actually was able to get layout dialect work today on my colleague's Windows 7. We should have the same core image. The only difference

[2017-01-13 14:53] hellocomrade commented on #148
@ultraq

Sorry for the delay. I have put a repo at: https://github.com/hellocomrade/thymeleaf-layout-issue-4-ultraq
to demonstrate the issue.

If I go: http://localhost:8080, the index page will have the following at the top

[code]

Which indicates the layout is not recognized.

Again, any suggestion will be highly appreciated!

[2017-01-14 08:21] ultraq commented on #148
Darnit, I can't seem to reproduce the problem 😢  The only Windows environment I have is a Windows 10 one and I've cloned your project and it seems to work there.

All I can think of now is to maybe add some additional logging to a new version to try trace what's happening, but since you've got it all there are you able to debug the Spring Boot project and put a breakpoint inside the `DecoratorProc

[2017-01-16 16:12] hellocomrade commented on #148
Hi @ultraq

Wish you have had a good weekend break!

Thank you for the tip! I was trying to follow this trace and found out that layout dialect may not be loaded by Thymeleaf Engine at all during initalization. On the Windows 7 with issues, the following log entries are missing
[code]
, which indicates layout dialect is not recognized by Thymeleaf somehow.

It's actually tracked back to ThymeleafA

[2017-01-17 09:57] ultraq commented on #148
I've not used Spring Boot a whole lot, but looking at that auto configuration for Thymeleaf, it looks like dialects are loaded if the class this `@ConditionalOnClass` specifies is present on the classpath.  If that's the case, then what we're trying to figure out here might be a classpath or a dependency/jar problem in that the layout dialect jar might not be present on the classpath of the projec

[2017-01-23 12:08] SnakeSVx commented on #127
I'm getting the same problem when upgrading from thymeleaf 2 to thymeleaf 3.
When I use
[code]
everything works, and I get the warning

` The layout:decorator/data-layout-decorator processor has been deprecated and will be removed in the next major version of the layout dialect.  Please use layout:decorate/data-layout-decorate instead to future-proof your code.  See https://github.com/ultraq/thyme

[2017-01-24 09:43] ultraq commented on #127
I think I'll just drop this exception because I haven't found a way in Thymeleaf 3 to reliably tell, from a dialect processor point of view, if the element being processed is the root element (leading to things like this happening).  (Thymeleaf 3 did implement an "element stack", but it doesn't seem to be all that reliable for determining a root element.)  I've got a new minor version currently in

[2017-01-25 09:57] hiddewie opened #149 "Nested decoration"
I am trying to decorate a page with a template. The template I decorate is again decorating another template, my base template.

This way I can make a tree structure of the template pages, like below:
- `base.html`
  - `extra_menu.html`
    - `template.html`

At the moment, when I render `template.html`, I only get the HTML content of `extra_menu.html`, but not of the base template `base.html`.

I

[2017-01-25 19:06] kgignatyev opened #150 "layout stops working when spring.thymeleaf.mode=LEGACYHTML5"
I had to switch to spring.thymeleaf.mode=LEGACYHTML5 to allow content with 'naked' attributes, and as soon as I did that layout stopped to.

[2017-01-27 09:47] ultraq commented on #150
Hi @kgignatyev, are you able to provide a small example of the layout not working?

Thymeleaf 2 in its LEGACYHTML5 mode is notorious for producing the wrong results because of the reliance on an external tag balancing library, nekoHTML, for trying to produce a valid XML document and getting things wrong in the process.  An example of this failing helps because for some templates it works, but for

[2017-01-27 09:52] ultraq commented on #149
Even though the layout dialect was originally designed with just 1 layout template in mind, devs have managed to use it for multiple templates each decorating each other to achieve the desired result.  I do have test cases for 2 layout templates (or 3 levels of templates) just like in your example, so it should be able to handle it.

Are you able to provide an example that's close to your use case

[2017-01-27 11:14] hiddewie commented on #149
Thanks for the quick response.

My example is actually a lot like `Decorate-DeepHierarchy.thtest` (I did not see that test before), so it should work in theory. I will experiment a little bit and find the differences between my template and the test template structure to find the problem in more detail.

[2017-01-28 17:00] hiddewie commented on #149
I've debugged my example to a minimal setup:

Template:
[code]

`common/leftmenu_layout.html`:
[code]

`common/base.html`
[code]

Rendered HTML:

[code]

It looks a lot like the test, so I do not understand why this does not work. My Thyemleaf is version `3.0.0.RELEASE`, with the `spring4` extension. The Layout dialect is version `2.0.0`.

[2017-01-28 17:19] hiddewie commented on #149
I think the issue has been resolved by simply upgrading to the Layout dialect version `2.1.2`. Sorry for the disturbance.

[2017-01-28 17:19] #149 closed

[2017-01-28 22:31] ultraq commented on #149
Oh cool, good to now that a fix was already there for you! 😃  And no worries about the raising of the issue - I'd rather know about any problems and have the option to fix things rather than have developers just grumble that it's not working for them.

[2017-01-29 03:47] kgignatyev commented on #150
Thank you!
You are correct. springboot includes version 2 by default, after setting versions in properties for the project it works now
 <properties>
....
       <thymeleaf.version>3.0.3.RELEASE</thymeleaf.version>
        <thymeleaf-layout-dialect.version>2.0.5</thymeleaf-layout-dialect.version>

    </properties>

[2017-01-29 03:47] #150 closed

[2017-01-29 05:05] ultraq commented on #150
Glad to hear you could move to Thymeleaf 3 and that it solved your problem!

[2017-02-06 03:57] ultraq commented on #127
I've just uploaded a `2.2.0-SNAPSHOT` version of the layout dialect that I think does a more accurate check to see if it's in the root element.  Previously it used Thymeleaf 3's "element stack", which caused the problems seen in this issue.  The decorate processor now does a check against the entire current template (which it used to load a bit later in the decoration process, but I've brought it

[2017-02-06 14:59] g3ek opened #151 "data-th-if evaluation does not have precedence in th-block"
It used to be that:

`<th-block data-th-if="${expression}" data-layout-insert="expression"/ >`  worked fine to not display the block when needed because data-th-if attribute got evaluated first.

Now though we get NPE's since upgrading to v3.0.3 and thymeleaf layout dialict v2.1.2.

Putting the display block in a conditional block fixes the problem but it's of course not as pretty.

[2017-02-07 07:15] ultraq commented on #151
I've just added some tests to show the interaction of the `layout:insert` processor with `th:if` (you can see them here: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Tests/nz/net/ultraq/thymeleaf/tests/includes/Insert-IfPrecedenceFalse.thtest, https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Tests/nz/net/ultraq/thymeleaf/tests/includes/Insert-IfPrecedenceTrue.thtest

[2017-02-18 04:07] ultraq commented on #151
Hi @g3ek, would you be able to provide a stack trace of the error you get?  I can get problems using the template code you showed above, but they either lead to `TemplateInputException` or `StackOverflowException`, not `NullPointerException` like you so I want to make sure I'm fixing the right thing.

[2017-02-20 09:53] ddelamotte commented on #127
Hey, i tried to update today to the 2.2.0-RELEASE Layout Dialect version. But since this upgrade (2.1.2 before) i got the IllegalArgumentException layout:decorate/data-layout-decorate must appear in the root element of your template exception without any html changes in my sources

The first lines of my templates are :
`<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.u

[2017-02-20 09:54] ultraq opened #152 "Use @Memozied annotation on context extensions closure"
Clearing up this TODO here (https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Source/nz/net/ultraq/thymeleaf/context/extensions/IContextExtensions.groovy#L58) now that it's solved in Groovy 2.4.8 (http://groovy-lang.org/changelogs/changelog-2.4.8.html and https://issues.apache.org/jira/browse/GROOVY-6584).

[2017-02-20 10:08] ultraq commented on #127
Darn, so you now get the `IllegalArgumentException` since upgrading to 2.2.0? 😢

I've got 2 test cases covering this, so maybe you can see if there's something that's in your template that's not here:
 - First one, covers if you very obviously don't put `layout:decorate` in a root element: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Tests/nz/net/ultraq/thymeleaf/tests/decorators

[2017-02-20 10:45] ddelamotte commented on #127
Hey, after some digging i found out the cause comes from your new test

I have a custom dialect (Precedence = 2). As the LayoutDialect precedence is 10, mine is ran before.
The root node (here <html>) has an xmlns:nameofmydialect attribute removed before the layout dialect is reached. Then your test trigger the exception.

[2017-02-21 05:34] ultraq commented on #127
Ah, custom dialects.  Never thought of that!  Thanks for looking into it, I'll work on creating an accompanying test and fix.

[2017-02-21 09:18] ddelamotte commented on #127
Ok, thx :)

[2017-02-22 21:44] hellocomrade commented on #148
@ultraq

Sorry for the late reply! I'd like to believe I didn't have thymeleaf-layout-dialect.jar on the class path. However, when I revisit this issue today, it appears layout dialect doesn't work on my Linux machine either. Of course, as you know, I am on Spring Boot 2.0.0 SNAPSHOT. Since it's upgraded to Spring Framework 5.0, spring-boot-starter-thymeleaf is now only coming with
[code]
So, I ha

[2017-02-22 21:47] hellocomrade commented on #148
[code]

[2017-02-25 06:07] ultraq commented on #152
Darnit, can't seem to do it because the closure in question relies on the delegate, and when memoizing a closure the delegate is changed to be itself rather than the class being extended.  Oh well, at least what I have now works 😕

[2017-02-25 06:07] #152 closed

[2017-02-25 07:10] ultraq commented on #127
@ddelamotte, I've added a test for interacting with high-priority custom dialects and uploaded a `2.2.1-SNAPSHOT` version of the layout dialect that passes that test.  Would you be able to give that version a try, see if it works for you too?

[2017-02-27 09:52] ultraq commented on #148
Darnit, I was hoping that your lack of reply meant you figured it out and had it fixed!  Unfortunately I don't know why Spring Boot 2 on your machines (but not your co-workers) isn't working 😕

I might try get a small Spring Boot 2 project working this weekend so I can try it out myself, see if it refuses to load the layout dialect or something like that.

Here's a thought that just entered my hea

[2017-02-27 14:38] hellocomrade commented on #148
@ultraq thank you for the reply! Well, if I figured it out, I will definitely post it here in case others may have the same issue.

thymeleaf-layout-dialect 2.1.2 seems to have a compatibility issue with thymeleaf-extras-springsecurity4?
If I put layout dialect in pom.xml, I get: **Could not initialize class org.thymeleaf.extras.springsecurity4.auth.SpringVersionSpecificUtils**

thymeleaf-extras-s

[2017-02-27 15:07] hellocomrade commented on #148
@ultraq you are right: it appears Thymeleaf layout dialect was not auto configured anymore in Spring Boot 2.0 Snapshot somehow

In a simpler setup, I have the following configuration that seems to make layout dialect working. Still need some verification though. Codes are from: http://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html

[code]

[2017-03-01 03:53] ultraq commented on #148
https://github.com/thymeleaf/thymeleaf-extras-springsecurity/blob/7e2847bfe950172d2b733b5dae5e2572b32a5828/thymeleaf-extras-springsecurity4/src/main/java/org/thymeleaf/extras/springsecurity4/auth/SpringVersionSpecificUtils.java

Weird that these 2 interact like this when they should be completely separate.  Care to raise another issue for that one?

[2017-03-01 18:40] hellocomrade commented on #148
@ultraq

I have no idea about the interaction between thymeleaf-layout-dialect and thymeleaf-extras-springsecurity4. As you indicated, they don't seem to relate with each other at all. That has been said, I did reproduce this on both CentOS 7 and Windows 7 against STS and IntelliJ. Of course, this could be a misconfiguration on my pom.xml?

Anyway, I managed to solve this by specifying version on

[2017-03-01 18:42] hellocomrade commented on #148
BTW, spring-boot-dependencies-2.0.0.BUILD-SNAPSHOT.pom has groovy.version 2.4.7 as default

[2017-03-04 06:10] ultraq commented on #148
Groovy is needed for runtime as the layout dialect is written in Groovy.

I think Spring Boot always had support for Groovy code, but it might be something that devs can opt out of.  Spring Boot has a *lot* of dependencies, I'm not always sure which ones are used.

Anyway, thanks for sticking with this for as long as you have! 👍  The weekend finally happened and I've created that test project, doi

[2017-03-04 06:10] #148 closed

[2017-03-04 06:12] ultraq opened #153 "How to include the layout dialect in Spring Boot 2.0"
Spring Boot 2.0 no longer includes the layout dialect by default.  For developers who choose to use the layout dialect with Spring Boot 2.0, it might be good to add some docs for how to include the layout dialect manually.

Stretch goal: is it possible to create a Spring Boot autoconfiguration package so that, the instructions become to add that dependency and everything "just works"?

[2017-03-04 06:15] ultraq opened #154 "Interaction with the thymeleaf-extras-springsecurity4 package"
While working through #148, a problem was encountered when including the thymeleaf-extras-springsecurity4 package.  Link https://github.com/ultraq/thymeleaf-layout-dialect/issues/148#issuecomment-282737853 and quote:

Investigate to see if there is a problem with having both of these dialects in the classpath, and if there is what can be done about it.

[2017-03-04 06:15] ultraq commented on #148
The 2 new issues to come out of this: #153, #154

[2017-03-04 06:43] ultraq commented on #153
Possibly helpful reference for creating a custom Spring Boot autoconfiguration: http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-developing-auto-configuration.html

[2017-03-11 21:37] ultraq commented on #127
I'm going to go ahead and publish this fix and version 2.2.1.  If anybody still has trouble with this, feel free to comment on this issue and we can investigate further.

[2017-03-17 15:12] xtianus commented on #127
Sorry but with 2.2.1 I still got the following exception:

[code]

[2017-03-18 06:01] ultraq commented on #127
Heya @xtianus, are you able to provide any hints as to what might be different in your template root elements?  I've currently got 2 special case test cases for this:
 - A root element that gets replaced: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Tests/nz/net/ultraq/thymeleaf/tests/decorators/Decorate-AppearInRootElementReplaced.thtest
 - A root element that also defines a cus

[2017-03-18 16:35] xtianus commented on #127
It work fine for a page that is decorated by the main layout, but it breaks for a page that is decorated by the section layout which is itself decorated by the main layout (three levels in total).

[2017-03-18 17:07] xtianus commented on #127
The decorated page, called "folderlist.html", starts with this:

[code]

Note the th:with value. The "/gestione/layoutGestione.html" section decorator starts with
[code]
Also note the th:with value.
For completeness, the "/layouts/mainLayout.html" global decorator starts with
[code]

The debugger shows that inside `DecorateProcessor.doProcess()` the exception is thrown because `!contentRootEvent.e

[2017-03-18 22:55] ultraq commented on #127
Hmm, other attribute processors on the element.  That's definitely something to look into.  Thanks!

[2017-03-30 07:47] ultraq commented on #127
Hi @xtianus, I've uploaded a `2.2.2-SNAPSHOT` version of the layout dialect with a fix for the issue you've described.  Page decoration utilizes the merge process that merges `th:with` values from 2 different elements together, as you've seen with what happens to your root element in the example you gave .  I've updated the root element check to ignore `th:with` attributes because of this.

Could

[2017-03-30 07:49] #127 closed

[2017-04-06 14:43] cfsilence opened #155 "No Way To Pass Variables From Child To Layout"
I've written up some thoughts on this dialect - and illustrated my concerns in this blog post:

http://recursive.codes/blog/post/22

Any chance you have a plan to address this concern?

[2017-04-06 22:25] ultraq commented on #155
Hi Todd!  First of all, nice blog - I came across it the other day when you wrote about using Thymeleaf w/ Spark 😃

Anyway, as for passing values from child templates up to their parent layouts, it's possible using Thymeleaf's `th:with` attribute processors on any element that's involved in the layout/decoration process, which would be anywhere `layout:decorate` or `layout:fragment` will be found.

[2017-04-07 02:29] cfsilence commented on #155
Awesome, thanks man!  The docs are great - I'm sure you had it in there at one point!

This works perfect - I've blogged it too, so thanks again for the clarification.

http://recursive.codes/blog/post/24

[2017-04-11 15:10] AlekseiBorsenko opened #156 "Cannot upgrade to Thymeleaf 3 and LayoutDialect 2"
Hello! FIrst of all, thank you for this great feature.

For some time I have been waiting for LayoutDialect version, because I wanted to upgrade some of my projects to use Thymeleaf 3.

I'm building with gradle and running a tomcat8 container with gretty.

I have the following dependencies in my build.gradle

[code]

And here is my template engine definition.

[code]
In debugger, as soon as i hit

[2017-04-12 11:48] ultraq commented on #156
Hmm, I don't think I've seen this kind of issue before.  Have you only been trying to upgrade to Thymeleaf 3 and Layout Dialect 2 recently?  Version 2 of the layout dialect was made to be compatible with Thymeleaf 3, so any 2.x.x version should work.  Until I can get a chance to look into it, could you possibly try the latest 2.1.x and 2.0.x versions to see if they work for you?  If it's something

[2017-04-12 13:56] AlekseiBorsenko commented on #156
Thank you for a quick reply. I will try other version and give you the feedback. I will also prepare simple example project that features this issue and host it here so you can check it aswell.

[2017-04-12 16:42] AlekseiBorsenko commented on #156
Hello. Just mounted example project that demonstrates the issue

 https://github.com/AlekseiBorsenko/Thymeleaf3LayoutDialect2

Please give me an update if you find the reason behind this issue. I really want some features from Thymeleaf 3 like parsing JS files, but I would like to keep using LayoutDialect cuz it wored like a charm up until now.

Please tell me if you need any more info. And thanks

[2017-04-14 10:56] ultraq commented on #156
I cloned your project, and sure enough got the same error when running script like `gradle appRun`.  However, in trying to get the thing to debug by running on Jetty/Tomcat installed on my machine, I came across some configuration problems in the `build.gradle` script, so edited it until I could get an artifact, and then... it worked.  I ran `gradle appRun` over the modified script, and it ran jus

[2017-04-17 06:53] ultraq opened #157 "Consider using fragment signatures as a method for passing values to layout templates"
After thinking a bit on #155 and writing it up in the docs, I think it'd be nice to, much like how it's possible in vanilla Thymeleaf, for `th:insert`/`th:replace` attribute processors (http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#parameterizable-fragment-signatures), it'd be nice to be able to pass values from child templates up to their parent layouts in this manner, doing away

[2017-04-17 06:54] #155 closed

[2017-04-17 06:58] ultraq commented on #155
Documented: https://ultraq.github.io/thymeleaf-layout-dialect/Examples.html#passing-data-to-layouts 😃

[2017-05-03 09:04] AlekseiBorsenko commented on #156
Hello!

I'm sorry for this delay in response. As I had some more pressing tasks with the main project this had to be postponed.

Your example works as a charm. Also I have to inform you that WAR plugin has nothing to do with it, because I just changed the line with gretty plugin application to
[code]

I will Push the change to my project so you can provide this solution to anybody who runs into th

[2017-05-03 22:21] ultraq commented on #156
Awesome, good to hear that everything worked out 👍

[2017-05-03 22:21] #156 closed

[2017-05-07 09:45] Ahaochan opened #158 "URI is not registered (Settings | Languages & Frameworks | Schemas and DTDs)"
hello , I use IntelliJ IDEA  to develop thymeleaf。
but the `xmlns:layout` has a warning `URI is not registered (Settings | Languages & Frameworks | Schemas and DTDs)`。
Although it really is useful.
how i fix the warning ? thx.
[code]

[2017-05-12 07:05] SnakeSVx commented on #127
Seems like this problem also occurs with regular attributes, this time when the html tag contains an attribute `lang="en"`. Using version 2.2.1, have not tested with 2.2.2-SNAPSHOT yet.

Example that fails:
`<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{my_layout}">`
Example that works:
`<html xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{m

[2017-05-12 09:24] ultraq commented on #158
You can make this check go away by going to the section identified by the warning message (open your Settings, then go to Languages & Frameworks > Schemas and DTDs) and add an entry in the Ignored Schemas and DTDs section for the URL.

![screen shot 2017-05-12 at 9 23 19 pm](https://cloud.githubusercontent.com/assets/1686920/25991982/5451dfba-3759-11e7-9f1e-687a7b659d9a.png)

[2017-05-12 09:30] ultraq commented on #127
I tried adding a `lang="en"` to various root elements in the tests I had, and they all seemed to pass for 2.2.2-SNAPSHOT.  I hope you can give that version a try.

[2017-05-16 06:56] ultraq commented on #151
Closing, no response from the OP 😢  Have added the `null`- check to the dependent project and released it as part of 2.2.2, but can't verify if it fixes things.

[2017-05-16 06:56] #151 closed

[2017-05-16 06:57] #158 closed

[2017-05-22 08:00] ultraq commented on #153
After playing around w/ Spring Boot, I've found that they very handily add any `@Bean`-annotated dialect to the current template engine.  So in a `@Configuration` class:

[code]

Is all that's needed!  Might have to add that to some new section in the docs though.

[2017-05-23 04:12] #153 closed

[2017-05-26 10:41] ultraq commented on #106
Gave `@TupleConstructor(defaults = false)` a try, but it ended-up bringing in the `metaClass` internal with it.  Have asked on the Groovy project's JIRA to see if it's a bug: https://issues.apache.org/jira/browse/GROOVY-8207

[2017-06-06 11:10] AndrewRichardScully opened #159 "Warning generated by Thymeleaf when using nz.net.ultraq.thymeleaf.expressions.ExpressionProcessor"
Hi,

I get the following warning printed at startup, I think it's being generated because the Thymeleaf 3 is taking exception to the ExpressionProcessor:

12468/0|2017-06-06 11:49:25,115 WARNING [nz.net.ultraq.thymeleaf.expressions.ExpressionProcessor] (58,http-listener-2(5)) Fragment expression "layout" is being wrapped as a Thymeleaf 3 fragment expression (~{...}) for backwards compatibility pur

[2017-06-07 07:01] ultraq commented on #159
Yup, that's coming out of expression processor, which is used by the layout dialect under the hood to parse/process expressions.  One of the other jobs it is doing is, as per the warning message, wrapping values given to some of the processors, like the values that go into `layout:decorate`, with `~{...}` so that they are valid fragment expressions.

So in older versions of the layout dialect and

[2017-06-07 07:01] #159 closed

[2017-08-05 02:19] pengcheng789 opened #160 "Couldn't run if style include two classes(one of them is a expression)."
Hi,my \<li\> style has a necessary classes "dropdown",and I want to use the following usage to add one class:
[code]
And then it couldn't run.
Could you tell me what should I do?Thanks!

[2017-08-05 05:21] ultraq commented on #160
Hi there @pengcheng789.  This isn't really a layout dialect issue, but I can help a bit.

There's a Thymeleaf `th:classappend` processor that you can use for this case.  Put the `dropdown` in a plain old `class` attribute since you always want that, then use `th:classappend` with your expression to add it during processing, eg:

[code]

(Hope that my expression language syntax is correct!)

Docs o

[2017-08-05 05:21] #160 closed

[2017-08-05 05:57] pengcheng789 commented on #160
Aha!It seems I made a mistake.Thank you!

[2017-09-01 13:34] 40rn05lyv commented on #149
@hiddewie thanks for your solution.

[2017-09-29 04:12] ultraq opened #161 "Verify against JDK9 and Spring5"
Both Java 9 and Spring 5 came out recently, so it might be good to verify that everything here still works, plus to see if there's anything in the new versions that I can work towards in to keep things up-to-date.

[2017-10-18 17:01] OpsRJ opened #162 "Spring boot 1.5.8 and Layout 2.2.2"
I´m trying to make a layout file with the following code:

[code]

And then I try to reuse it in another HTML file named index.html

[code]

When I open index.html file it is not rendering the layout just the html of the page. I think version 2.2.2 doesnt work with spring 1.5.8

[2017-10-19 07:30] ultraq commented on #162
Hi there!  I have a Spring Boot project that's on 1.5.3 with 2.2.2 of the layout dialect, so I tried updating Spring Boot to 1.5.8 and it still looks like it's working, so I don't think the library combination will be a problem.

I took a closer look at your post (I had to edit it to get all the HTML coming through correctly, so I hope I've edited it correctly), and I noticed something that might

[2017-10-24 00:12] thaylongs commented on #162
Hello, I had had the same problem. Checking the dependencies of spring-boot with thymeleaf I saw that the default version was old. So, I put `<thymeleaf.version>3.0.6.RELEASE</thymeleaf.version>` in the `properties`  tag of pom.xml (I'm working with maven),  then the layout dialect started work.

[2017-10-24 05:57] ultraq commented on #162
Ah, thanks @thaylongs!  That's a good thing to check: which version of Spring Boot and which version of the docs you're working with - the names of some processors have changed between the 1.x versions and 2.x versions.

That also reminded me: if you're using the Spring Boot 2 betas, it might pay to check if the layout dialect is even a dependency of your project as it is no longer included by def

[2017-11-07 15:21] Teach-Ross opened #163 "Migrating from 1.X to 2.1.2 with Thymeleaf 3.0.2, Spring-Boot 1.5.8"
When attempting to migrate, I've lost some functionality in how pages are rendered.

![screen shot 2017-11-07 at 10 16 02 am](https://user-images.githubusercontent.com/24231647/32501202-6a856e22-c3a5-11e7-8e55-8a0a8986d49d.png)

Here is my layout.
layout.html
[code]

Here is the template for the page shown in the screenshot.
[code]

[2017-11-07 16:57] Teach-Ross commented on #163
![screen shot 2017-11-07 at 11 54 41 am](https://user-images.githubusercontent.com/24231647/32506515-c588ee5e-c3b2-11e7-93cb-ac9628c6bc01.png)

[2017-11-07 19:02] Teach-Ross commented on #163
Removing the conditional comments for IE resolved this issue.
[code]

[2017-11-07 20:18] Teach-Ross commented on #163
More specifically, removing the
[code]
element resolves this issue

[2017-11-08 05:59] ultraq commented on #163
Hi @Teach-Ross, I'll try break this down into a smaller test case in an attempt to reproduce it - although if you've got some time to do so, that'll help me greatly.  Looks like the closest thing I have to an external comments test is in this Thymeleaf test file: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Tests/nz/net/ultraq/thymeleaf/tests/decorators/html/Document-ExternalComm

[2017-11-08 17:34] Teach-Ross commented on #163
I've managed to resolve the issue. It appears appears to be with comment tags within the layout.
The following layouts demonstrate a simple example. Similar issues remain though if the layout itself contains IE conditional comments.

[code]
will render this, with the same issue

![screen shot 2017-11-08 at 11 58 45 am](https://user-images.githubusercontent.com/24231647/32562273-33b43e00-c47c-11e7-

[2017-11-10 08:31] ultraq commented on #163
Awesome, thanks for spending the time to look into it and find a workaround/solution.  There does seem to be a bug when it comes to those comment blocks, so I'll try to figure that out and put a fix in the next patch release.

[2017-11-23 10:01] ammy1999 opened #164 "Updating groovy:jar"
Hello,
I have a vulnerability groovy-2.4.10.jar , CVE-2016-6497 , Severity: Medium ( plugin dependency check in jenkins)

When I run mvn dependency:tree -X :

[INFO] |  \- org.codehaus.groovy:groovy:jar:2.4.10:compile

So how can I remove this vulnerability

[2017-11-23 11:03] ultraq commented on #164
Weird, this project brings in 2.4.6 (https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/build.gradle#L54), so I don't know what's in your build to have chosen 2.4.10?  Anyway, I read up on the vulnerability from the original research paper and don't believe this library or your project are at risk.

From what I can gather, CVE-2016-6497 is about remote code execution through LDAP imple

[2017-11-23 12:04] ammy1999 commented on #164
groovy 2.4.10 (managed from 2.4.6)
So what should I do , the vulnerability with high priority

[2017-11-25 00:35] ultraq commented on #164
Given what I've discovered, I believe this is a false positive report of the Groovy JARs, so I've gone and filed a false positive report on the dependency check library that the Jenkins plugin uses (https://github.com/jeremylong/DependencyCheck/issues/1004.  For now, I would suggest you suppress this warning, which you can read on how to do over on the dependency check plugin's website: https://je

[2017-11-27 08:54] ammy1999 commented on #164
How can I suppress this warning ?? I check the source code of dependency check plugin , I found the file suppression.xml  , So the suppression isn't  automatically done !!

[2017-11-27 09:16] ultraq commented on #164
Given the documentation in the link I gave you in my last reply, it seems you can do this from a button in the HTML report:

I suggest reading that doc - it looks fairly comprehensive.

[2017-11-27 14:17] ammy1999 commented on #164
yes , finally it works , thanks @ultraq  for your help

[2017-11-28 05:57] #164 closed

[2017-11-28 08:52] esaruhan opened #165 "Thymeleaf 3.0 Fragment Expression is giving error"
When it try to use  thymeleaf-layout-dialect and flexible layout fragment expression, it gives error .

To implement this i created a project named ThymeleafExamples on github.

  **Resource :** **8.3 Flexible layouts: beyond mere fragment insertion ** ( [http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#fragment-specification-syntax](url) )

Scenario :  I would like to use thymeleaf

[2017-11-29 09:48] ultraq commented on #165
Hi @esaruhan, I haven't debugged the code with your example templates yet (thanks for creating examples I can use to test against by the way 👍), but my gut is telling me the errors you're getting are because you're trying to mix 2 layout methods on a key element, the `<head>` element.

Because it's such a common scenario, the layout dialect automatically merges the elements of your `<head>` templa

[2017-11-29 15:02] esaruhan commented on #165
Thanks for replying.

I would like to use this dialect for  the flexibility for designing the layout as its main aim. But also i would like use  fragment expression for adding extra fragments or not .

Actually i should not try this both scenarios for head, as you mention head tag behaviours is different as i have seen.

My use case is  :
I organize my admin template under this layout dialect but

[2017-12-22 22:04] ultraq opened #167 "Java 7 build failing on Travis"
Java 7 has been EOL now, and Travis CI has recently removed it from their build pipeline.  I tried going to OpenJDK7 as an alternative, but that doesn't come with the necessary crypto libraries to be able to pull down gradle over https.

I've found some answers to this on the internet, so I should find some time to implement them and try them out.  Otherwise, the build is going to keep reporting a

[2017-12-25 21:07] ultraq commented on #167
Have decided to drop Java 7 from the CI build - getting it to work again requires a bit too much work for the pay-off.

[2017-12-25 21:07] #167 closed

[2017-12-25 21:43] ultraq commented on #161
After adding Java 9 to the CI build, it started failing because of the older version of Groovy.  Had to up that to 2.4.13 (I think people reported that at least 2.4.12 was needed?) to get compilation and tests working again.  So that's Java 9 sorted.  Need to still try a Spring 5 (or Spring Boot 2?) project to make sure there are no surprises there either.

[2017-12-31 04:25] zhy1378 opened #168 "How to use this dialect with Gradle."
Hi all,

I have  a project using thymeleaf and gradle, I wish to know how to use this dialect in Gradle configuration.

My current dependencies:

dependencies {
	compile('org.springframework.boot:spring-boot-starter-aop')
	compile('org.springframework.boot:spring-boot-starter-data-jpa')
	compile('org.springframework.boot:spring-boot-starter-data-rest')
	**compile('org.springframework.boot:spring-b

[2017-12-31 09:25] ultraq commented on #168
Hi there, the installation guide lists the proper targets for using the dialect: https://ultraq.github.io/thymeleaf-layout-dialect/Installation.html

So your Gradle config should have something like this:

`compile('nz.net.ultraq.thymeleaf:thymeleaf-layout-dialect')`

(I'm not sure if you need to specify the version when using the Spring Boot starter.)

[2018-01-03 03:53] zhy1378 commented on #168
Thanks a lot, @ultraq . I just configured my thymeleaf-layout following the guide of: https://ultraq.github.io/thymeleaf-layout-dialect/Installation.html

I'm using Java Bean to configure it.

Then I add a Layout page and a Content1 page, just exactly as same as:
https://ultraq.github.io/thymeleaf-layout-dialect/Examples.html#layouts . And I put them on the same folder.

But the Content1 Page was

[2018-01-04 05:47] ultraq commented on #168
Sure, one main thing to check: which versions of Spring Boot, Thymeleaf, and the layout dialect are you using?  Spring Boot 1 uses Thymeleaf 2 and Layout Dialect 1 by default, and the instructions on https://ultraq.github.io/thymeleaf-layout-dialect/ are aimed at Thymeleaf 3 + Layout Dialect 2.

(You can upgrade the version of Thymeleaf being used in Spring Boot 1 by following their instructions o

[2018-02-02 14:40] kowalczm opened #169 "layout:decorate not properly merge xmls in 2.2.2"
layout.xml
[code]
page.xml
[code]
result:
[code]
I would expect  also`<e>outer</e>`.
The same situation is for replacing.
I'm using Thymeleaf: 3.0.9

[2018-02-03 01:20] ultraq commented on #169
Well that definitely doesn't look right.  Will investigate - thanks for letting me know!

[2018-02-05 18:28] kowalczm commented on #169
Hi,
Is there any plan for next release in near future? I see latest from May 2017 and few relevat changes like in test: Document-XmlDecoration-MultipleElements-Nested.thtest

[2018-02-05 20:55] ultraq commented on #169
Maybe one after this issue if I find it's relatively easy to fix?  Otherwise, if you want to use all the newest code since the last release, you can always use the SNAPSHOT release (currently `2.3.0-SNAPSHOT`).

[2018-02-11 01:28] ultraq commented on #169
I finally had a closer look and found that I had misread your post (sorry!), and so what you've got is expected behaviour.

When you pick file to decorate (the layout), what you're doing is saying that you'll take that layout and only replace bits and pieces picked out by `layout:fragment` parts in the layout.  Anything outside of `layout:fragment` elements in your content page will not end up in

[2018-02-11 02:01] ultraq commented on #161
Cool, works using Spring Boot 2.0 RC1 and Java 9 👍

[2018-02-11 02:01] #161 closed

[2018-02-11 02:01] #169 closed

[2018-02-11 02:05] ultraq commented on #162
No reply from OP after several months, assuming all good or workaround used.  Closing.

[2018-02-11 02:05] #162 closed

[2018-02-11 19:50] kowalczm commented on #169
Hmm, so why in [https://ultraq.github.io/thymeleaf-layout-dialect/Examples.html#layouts] result html contains two <script> tags? According above only <script> tag from  layout should be taken. There are different implementation for HTML?

[2018-02-12 09:16] ultraq commented on #169
Yup, there is some special handling of the `<head>` section for HTML mode because merging of that section is such a common use case that it's got some of its own rules about what happens there.  The `<body>` section is more general, just like XML mode, and the 2 are pretty much the same.

[2018-03-08 13:54] adnanmerrakchi commented on #148
this week i was working with spring boot 2.0.0 (maven), but the whole week i encountered a problem the web pages doesnt recognize layout attribute, after downgrading to 1.5.9 the web page starts working so it seems the spring boot v2.0.0 doesnt support yet all thymeleaf features.

[2018-03-09 22:07] ultraq commented on #148
Hi @adnanmerrakchi, Spring Boot 2 doesn't come with the layout dialect by default (you have to explicitly add it as a dependency in your `pom.xml`/`build.gradle` file), so that could be one reason why downgrading to Spring Boot 1 has it suddenly work.  Have you tried adding the layout dialect dependency when using Spring Boot 2?

[2018-03-09 22:11] adnanmerrakchi commented on #148
hi bro @ultraq  to be honest no ! i didn't try it but i will do that to see if it will work 👍

[2018-03-13 17:34] logemann opened #170 "Could not parse as assignation sequence on layout parameter pass"
Hi,

i am trying to achieve that:
https://ultraq.github.io/thymeleaf-layout-dialect/Examples.html#passing-data-to-layouts

my layout:
`
<a href="/devportal/main" th:href="@{/main}">
         <strong><span th:with="${loginout}"></span></strong>
</a>
`

my child:

`<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}" th:with="

[2018-03-14 06:19] ultraq commented on #170
Hi @logemann, it looks like my docs have a mistake!

Looking at the example at the URL you've given, that `th:with` in the layout file should be `th:text` instead.  Applying that to your code, if you change the `<span th:with="${loginout}">` to `<span th:text="${loginout}">`, you should be able to get your code working.

Sorry about that mistake; I'll fix the docs up very soon.

[2018-03-14 08:18] logemann commented on #170
thanks. appreciated this feedback.

[2018-03-14 08:18] #170 closed

[2018-04-07 00:51] ultraq opened #171 "Come up with a module name"
With Java 9 and now 10 out, it's time to think of a module name for this project, and everything else I have.  Stephen Colebourne has some good opinions on things in his blog (eg: http://blog.joda.org/2017/04/java-se-9-jpms-module-naming.html) so I might take some inspiration from there.

So far I've relied on Maven to take care of all of this for me, eg: the artifactId of this project is `thymele

[2018-05-05 00:17] ultraq opened #172 "Move the special $CONTENT_TITLE and $LAYOUT_TITLE values to context variables"
These custom strings are only available within the scope of the `layout:title-pattern` processor, but there have been instances where devs have wanted access to these values elsewhere (usually the whole title).

Would it be possible to convert these into variables that I add to the current processing context instead so they can be used elsewhere?  In the process, removing the custom placeholder na

[2018-06-04 00:41] ultraq commented on #106
So Groovy 2.5 is out (http://groovy-lang.org/releasenotes/groovy-2.5.html), but it looks like my issue is still there 😆  Gah, might have to park this.

[2018-06-20 09:50] ImpulseTheFox opened #173 "Exception with self-closing html tag"
main.html
[code]

index.html
[code]

This doesn't work because of the self-closing html tag in the index.html. When changing the index.html to this:
[code]

everything runs fine. The problem seems to be a `java.lang.NullPointerException: Cannot invoke method equalsIgnoreXmlnsAndThWith() on null object`. A self-closing html tag might not be the best practice to use, but it should at least throw a m

[2018-07-01 16:46] Programmeurz commented on #158
How to open The android studio "settings"
being a while looking for it but no way

[2018-07-02 00:52] ultraq commented on #158
On a Mac, you can get to settings by pressing the `Command` + `,` keys, or the `<Name of program, eg: IntelliJ IDEA>` > `Preferences` menu item.  I'm not so sure where to find this on Windows though.  I would guess under the `File` menu as I can see a lot of other settings-related items in there.

I'm not 100% sure if this applies for Android Studio though - I've not installed the program, but giv

[2018-07-16 17:08] anwfr opened #174 "Not compatible with Spring Boot 2.0.3.RELEASE"
When using thymeleaf-layout-dialect with Spring Boot 2.0.3.RELEASE, the dependency org.thymeleaf:thymeleaf gets downgraded to 3.0.0.RELEASE but Spring Boot requires a higher version (3.0.9.RELEASE)

A workaround to this is to exclude dependency from thymeleaf-layout-dialect:
[code]

Otherwise you get the following error:
[code]

[2018-07-23 03:06] BeRoots opened #175 "LayoutDialect : impossible to import"
Hi :)

I have a problem that I can not solve with spring boot 2.0.3 and thymeleaf 3.0.9 (sping 5). On my demo version with spring boot 1.5.14 I use a LayoutDialect for thymeleaf and it work nice. In version 2.0.3 of spring boot I can not use this layout. Here are the git version 1.5 and 2 (https://github.com/BeRoots/spring-boot-1.5.14/tree/fix-localization and https://github.com/BeRoots/spring-boo

[2018-07-23 07:01] zhanhb commented on #175
Thymeleaf Layout Dialect is included in Spring Boot Starter Thymeleaf 1.x, not 2.x

[2018-07-23 12:40] BeRoots commented on #175
But why STS (Spring Tools Suite IDE) alert me with a warning that says "Duplicate managed version 2.3.0 for thymeleaf-layout-dialect" in pom.xml on a spring boot 2.0.3 project with Spring Boot Starter 2.0.3 added by the spring initializr?

[2018-07-23 14:54] zhanhb commented on #175
The version is managed in the parent spring-boot-dependencies. So you can declare without specifing the version.
[code]

[2018-07-23 17:02] BeRoots commented on #175
Ok. Thank you. I thought that managed meant included. I had read that thymeleaf-layout-dialect had been removed. This solves the problem.

[2018-07-23 17:02] #175 closed

[2018-07-27 13:02] BeRoots opened #176 "Render problem in HTML <head>"
I have some problem with thyleafeaf-layout-dialect usage into spring-boot-2.0.3 application. The problem is that the `<meta charset="UTF-8" />` isn't the first element in my <head> but i declaring it in the first position in my layout.html. (see https://github.com/BeRoots/springboot2-demo-thymeleaf-layout)

If you have an idea about it.

[2018-07-28 02:50] ultraq commented on #176
Hi there, so the code that deals with working on the `<head>` element currently always puts the `<title>` as the first element, which is why your `<meta charset...` tag isn't ending up first.

It's been a while since I worked on that particular piece, but this feels like an abitrary decision I made so that processing of the `<head>` section is easier (separating all the special `<title>` processin

[2018-07-28 11:30] BeRoots commented on #176
Hi. Simply because it's a w3c recommendation to have valid code. https://www.w3.org/International/questions/qa-html-encoding-declarations.en#quickanswer

But I do not see this constraint to have the presence of the meta "charset" in the first 1024 bit in the dedicated specification. https://www.w3.org/TR/2010/WD-html-markup-20100304/meta.charset.html

Personally I think your idea is not so good. I

[2018-07-29 21:48] ultraq commented on #176
Right now you can't change this behaviour.  I agree that it'll be better to try preserve the order of elements (unless the `<head>` element merging strategy is configured to do something different) rather than arbitrarily making the choice of re-ordering a dev's markup.

If your `<title>` text isn't long, then the `<meta charset...` should still be within the first 1024 bytes of the response, so I

[2018-07-29 21:59] ultraq opened #177 "Preserve <title> element position"
Right now, the layout dialect always puts the `<title>` element as the first element in a `<head>` block because (if I remember right) it makes the code a lot easier to work with separating this element that has a lot of special rules (because of all the title merging jazz that happens) from everything else.  This does mean that its reordering a dev's markup, which is not ideal.

`<head>` element

[2018-08-06 14:39] jchafik opened #178 "Infinite loop when nesting elements"
Starting in 2.3.0, nested elements are resulting in an infinite loop. Example:

[code]

[2018-08-07 06:33] ultraq commented on #114
Unfortunately, I don't think I'm ever going to get around to looking at this - it's been open for over 2 years and I've been focused on the 2.x branch for Thymeleaf 3.  Sorry I couldn't get around to attempting this.  Closing.

[2018-08-07 06:33] #114 closed

[2018-08-07 06:40] ultraq commented on #154
This is an old issue, but I tried loading the latest thymeleaf-extras-springsecurity4 package in a project that had the layout dialect, and couldn't replicate the issue.  I'm hoping it was specific to this case (the linked issue was a long debugging session!) or has since been fixed with newer versions of either the layout dialect or the spring security extras package.  Closing.

[2018-08-07 06:40] #154 closed

[2018-09-30 17:39] Dineshnirmania commented on #158
HI Ultraq

I'm also facing same issue but in android app development.

Do you know how to fix this issue in android?

Thanks,
Dinesh Kumar

[2018-10-29 02:19] trisight opened #180 "how to specify layout file location?"
I'm using thymeleaf-layout in a standalone application, how can I specify the layout file location in my code?

It shoundn't be an absolute path in the html file.

[2018-10-29 03:04] trisight commented on #180
solved by set template resolver

[2018-10-29 03:04] #180 closed

[2018-12-17 10:21] chernyh commented on #168
zhy1378, many thanks, I spent a lot of time before I found that specific combination of version works.

[2019-02-09 10:11] rvbhardwaj commented on #158
[
![capture](https://user-images.githubusercontent.com/40655549/52519424-271b1380-2c81-11e9-88d4-2a18b430e7aa.PNG)
]can you please help me to solve this problem i am new to android studio any one

[2019-03-18 11:37] perry-ugroop commented on #176
Hi, may I add that aside from the fact that placing the &lt;meta charset&gt; tag *right after* &lt;head&gt; and before &lt;title&gt; is the standards-compliant way to do it, *not* following this specific order would also place the website at risk of exposure to [UTF-7 XSS attacks](https://www.html5in24hours.com/meta-charset-protects-against-hackers/). Placing &lt;meta charset&gt; within the first

[2019-03-18 11:56] perry-ugroop commented on #176
May I also add, FWIW, according to the [XHTML 1.0 Strict DTD](https://www.w3.org/TR/xhtml1/dtds.html#dtdentry_xhtml1-strict.dtd_title), *exactly one* &lt;title&gt; and *at most one* &lt;base&gt; tag should be present inside the &lt;head&gt; tag. This could help you in your &lt;head&gt;-merging logic.